/*!
Theme Name: Bridge Child
Theme URI: http://demo.qodeinteractive.com/bridge/
Description: A child theme of Bridge Theme
Author: Longbeard
Author URI: https://www.longbeard.com
Version: 1.0.0
Template: bridge
*/

/******************************************************************
JMJ
Site Name: Humanity 2.0
Author: Longbeard

Stylesheet: Main Stylesheet
******************************************************************/

/*********************
IMPORT ELEMENTS
*********************/

// Sass variables
@import 'utilities/variables';

// typography
@import 'utilities/typography';

// import mixin
@import 'utilities/mixins';

@import 'elements/participate-row';

@import 'elements/row-text-columns';

/*********************
IMPORT PAGES
*********************/
// styles in base.scss
@import 'pages/base';

// Homepage
.home {
    @import 'pages/homepage';
}

// About
.page-id-329 {
    @import 'pages/about';
}

// Forum
.page-id-12 {
    // @import 'pages/forum';
    @import 'pages/2018forum';
}

.page-id-868 {
    @import 'pages/2019forum';
}

.page-id-868,
.page-id-549 {
    @import 'pages/2018forum';
}

// Initiatives
.page-id-15 {
    @import 'pages/initiatives';
}

// Business Ethics
.page-id-333 {
    @import 'pages/business-ethics';
}

// Business Ethics
.page-id-331, .page-id-1615 {
    @import 'pages/square-roots';
    @import 'pages/business-ethics';
}

// Founders
.page-id-17 {
    @import 'pages/founders';
}

// Media
.page-id-399 {
    @import 'pages/media';
}

// Contact
.page-id-19 {
    @import 'pages/contact';
}

// Search
.search-results {
    @import 'pages/search';
}

// Post template
.single-post {
    @import 'pages/post';
}

// Post template
.error404 {
    @import 'pages/404';
}

// Privacy & Cookie Policy
.page-id-169, .page-id-1067 {
    @import 'pages/privacy-cookie-policy';
}

// Institute
.page-id-1186, .page-id-333 {
    @import 'pages/institute'
}

/*********************
PRINT STYLESHEET
*********************/
@media print {
    // styles in print.scss
    @import 'utilities/print';
}