/******************************************************************

Stylesheet: 2019 Forum

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#ct_column_7_post_12 {
    @include breakpoint($tablet-break) {
        width: 70% !important;
    }


    @include breakpoint($mobile-break) {
        width: 100% !important;
    }


    #ct_text_block_12_post_12 {
        @include breakpoint($tablet-break) {
            padding-left: 0;
        }


        @include breakpoint($mobile-break) {
            padding-left: 0;
        }
    }
}

@include breakpoint($mobile-break) {
    #ct_section_2_post_12 {
        #ct_column_4_post_12 {
            &::after {
                display: none;
            }

            #ct_headline_9_post_12 {
                padding-left: $col-vw * 2;

                @include breakpoint($mobile-break) {
                    padding-left: 0;
                }

                &::before {
                    content: "";
                    width: $col-vw * 1.5;
                    height: 4px;
                    position: absolute;
                    bottom: -0.875em;
                    left: 0;
                    background-color: $color1;
                }
            }
        }

        #ct_columns_6_post_12 {
            padding: $col-vw 0;
            width: 100% !important;
        }
    }

    .lb-row-evolution {
        .ct-section-inner-wrap {
            padding: 0 $col-vw;
        }

        #ct_headline_6_post_30 {
            &::before {
                content: "";
                width: $col-vw * 1.5;
                height: 4px;
                position: absolute;
                bottom: -0.575em;
                left: 0;
                background-color: $color1;
            }

            &::after {
                display: none;
            }

            padding-left: $col-vw * 2;

            @include breakpoint($mobile-break) {
                padding-left: 0;
            }
        }
    }
}

.opening-address,
.ct-section:not(.lab-timeline):not(.videos-section):not(.photo-section) {
    h3 {
        font-weight: 500 !important;
    }
}

.panelists-row {
    .panelist {
        padding: 100px 0;

        @include breakpoint ($tablet-break) {
            padding: $col-vw;
        }
    }

    .panelist {
        h4 {
            @include breakpoint ($mobile-break) {
                margin-left: 0;
            }
        }
        .panelists-items-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item {
                @include breakpoint ($mobile-break) {
                    width: calc(50% - 1rem);
                    
                    &:nth-child(odd) {
                        margin-right: 2rem;
                    }
                }
                .item-inner {
                    .img {
                        @include breakpoint ($mobile-break) {
                            width: 28.125vw;
                            height: 28.125vw;
                        }
                    }
                    .info {
                        @include breakpoint($mobile-break) {
                            text-align: left;
                        }
                    }
                }
                @include breakpoint ($mobile-break) {
                    &:not(:first-of-type):not(:nth-of-type(2)) {
                        .item-inner {
                            padding-top: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

.audio-flex .opening-address {
    padding: 30px $col-vw / 4 !important;
}

.audio-flex .audio-wrapper {
    margin-top: 0rem !important;
}