/******************************************************************

Stylesheet: 404 page

Styles for 404 page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-intro {
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/wp-content/uploads/2018/02/forum-schedule.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: $color2;
        opacity: 0.65;
    }

    .ct-section-inner-wrap {
        @include breakpoint($mobile-break) {
            padding: $col-vw;
        }


        h1,
        .ct-text-block {
            color: $white;
            margin-bottom: 1rem;
        }

        .button {
            text-decoration: none;
            padding-bottom: 5px !important;
        }
    }
}