/******************************************************************

Stylesheet: About

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.mission {
    .ct-section-inner-wrap {
        @include breakpoint($laptop-break) {
            padding-right: $col-vw;
        }


        .ct-columns {
            .ct-columns-inner-wrap {
                display: flex !important;
                justify-content: flex-end;

                .ct-column {
                    // width: 22rem !important;
                    width: $col-vw * 2.875 !important;
                    margin-right: $col-vw / 1.5 !important;

                    @include breakpoint(1280px) {
                        margin-right: 7.333vw !important;
                    }

                    @include breakpoint ($tablet-break) {
                        width: $col-vw * 6 !important;
                    }

                    @include breakpoint ($mobile-break) {
                        width: 100% !important;
                    }


                    h1 {
                        white-space: nowrap;
                        &::before {
                            @include breakpoint($tablet-break) {
                                right: -$col-vw;
                                width: $col-vw / 2;
                            }


                            @include breakpoint($mobile-break) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.vision {
    background-color: #fff;

    .ct-section-inner-wrap {
        padding-left: $col-vw;
        padding-right: $col-vw * 2;
        position: relative;
        text-align: right;

        .ct-columns {
            padding-bottom: $col-vw;
            
            @include breakpoint($tablet-break) {
                padding-bottom: 0;
            }
        }

        @include breakpoint($laptop-break) {
            padding-right: $col-vw;
        }


        @include breakpoint($tablet-break) {
            // padding-right: $col-vw * 2.5;
            // padding-left: $col-vw * 2.5;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }


        .ct-columns-inner-wrap {
            @include breakpoint($tablet-break) {
                flex-wrap: wrap;
            }


            #ct_text_block_71_post_329 {
                padding-bottom: $col-vw / 4;
                font-size: 1rem !important;
                b {
                    font-weight: 800 !important;
                }

                span {
                    // text-align: right;
                    opacity: 0.8; // float: right;
                    font-size: 1rem;
                    transform: translateY(-1px);
                }
            }

            .ct-column {
                &:first-child {
                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                    }


                    @include breakpoint($mobile-break) {
                        display: none;
                    }
                }

                &:last-child {
                    padding-left: 7.833vw;
                    text-align: left;
                    margin-top: -7px;

                    .ct-headline {
                        margin-bottom: ($col-vw / 4) !important;

                        @include breakpoint($tablet-break) {
                            margin-bottom: ($col-vw / 2) !important;
                        }
                    }

                    @include breakpoint($laptop-break) {
                        padding-left: $col-vw;
                    }


                    @include breakpoint(1366px) {
                        padding-left: calc(#{$col-vw} - 2rem);
                    }


                    @include breakpoint($tablet-break) {
                        padding-left: 0;
                        width: 100% !important;
                        padding-top: $col-vw;
                    }


                    @include breakpoint($mobile-break) {
                        padding-top: 0;
                    }
                }
            }
        }

        h1 {
            position: relative;
            display: inline-block;
            width: auto;
            margin-top: -0.25em;

            @include breakpoint(1330px) {
                padding-top: 1em;
            }


            @include breakpoint($tablet-break) {
                margin-top: 0;
                padding-top: $col-vw / 2;
                // right: -$col-vw * 1.5;
                bottom: -$col-vw / 2;
            }


            @include breakpoint($mobile-break) {
                right: 0;
                padding-top: $col-vw;
            }


            &::after {
                content: '';
                height: $col-vw * 0.75;
                width: 4px;
                background: $color1;
                position: absolute;
                bottom: calc(#{-$col-vw});
                left: 50%;
                transform: translateX(-50%);
                
                @include breakpoint($laptop-break-lrg) {
                    height: $col-vw;
                    bottom: calc(#{-$col-vw * 1.25});
                }
                
                @include breakpoint($tablet-break) {
                    height: $col-vw;
                    bottom: calc(#{-$col-vw * 1.125});
                }

                @include breakpoint($mobile-break) {
                    height: $col-vw * 1.5;
                    bottom: calc(#{-$col-vw * 2});
                }
            }
        }
    }
}

.beliefs {
    .ct-section-inner-wrap {
        padding-left: $col-vw * 2;
        padding-right: $col-vw * 2;
        
        @include breakpoint ($tablet-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }

        @include breakpoint ($mobile-break) {
            padding-left: $col-vw;
        }

        .ct-columns-inner-wrap {
            @include breakpoint($tablet-break) {
                flex-wrap: wrap;
            }


            .ct-column {
                &:first-child {
                    // width: ($col-vw * 4) !important;
                    width: ($col-vw * 3) !important; // padding-right: $col-vw;
                    padding-right: $col-vw / 2;

                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                        padding-left: 3.75rem;
                        padding-right: 0;
                        margin-bottom: $col-vw / 2 !important;
                    }


                    @include breakpoint($mobile-break) {
                        padding-left: 0;
                        width: 79% !important;
                        float: right !important;
                    }


                    h4 {
                        @include breakpoint($tablet-break) {
                            max-width: $col-vw * 4;
                        }


                        @include breakpoint($mobile-break) {
                            max-width: $col-vw * 7.5;
                        }
                    }
                }

                &:last-child {
                    // width: ($col-vw * 7) !important;
                    width: ($col-vw * 6) !important;

                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                    }


                    .ct-code-block {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;


                        .service {
                            // width: calc(50% - #{$col-vw / 4});
                            width: 50%;
                            margin-bottom: $col-vw / 2;
                            display: flex; // align-items: center;
                            @include breakpoint($mobile-break) {
                                width: 100% !important;
                                margin-bottom: $col-vw !important;

                                &:last-child {
                                    margin-bottom: 0 !important;
                                }

                                .info {
                                    flex-basis: 79%;
                                }
                                .num {
                                    flex-basis: 20%;
                                }
                            }


                            &:nth-child(1) {
                                order: 1;
                                margin-bottom: $col-vw / 2; // padding-right: $col-vw / 4;
                                @include breakpoint($mobile-break) {
                                    padding: 0;
                                }
                            }

                            &:nth-child(2) {
                                order: 3; // padding-right: $col-vw / 4;
                                @include breakpoint($mobile-break) {
                                    padding: 0;
                                    order: 2;
                                }
                            }

                            &:nth-child(3) {
                                order: 5;
                                margin-bottom: 0; // padding-right: $col-vw / 4;
                                @include breakpoint($mobile-break) {
                                    padding: 0;
                                    order: 3;
                                }
                            }

                            &:nth-child(4) {
                                order: 2; // padding-left: $col-vw / 4;
                                @include breakpoint($mobile-break) {
                                    padding: 0;
                                    order: 4;
                                }
                            }

                            &:nth-child(5) {
                                order: 4; // padding-left: $col-vw / 4;
                                margin-bottom: 0;

                                @include breakpoint($mobile-break) {
                                    padding: 0;
                                    order: 5;
                                }
                            }

                            .num {
                                margin: 0 1rem;
                                width: 3rem;
                                white-space: nowrap;

                                @include breakpoint ($mobile-break) {
                                    margin: 0;
                                }

                                h5 {
                                    color: $color1;
                                    font-size: 2.5rem !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.approach {
    .ct-section-inner-wrap {
        padding: 0;
    }

    #ct_text_block_63_post_329 {
        @include breakpoint($mobile-break) {
            padding-bottom: $col-vw;
        }
    } // top section
    #ct_columns_58_post_329 {
        color: $white;
        position: relative;
        background-size: cover !important;
        background-position: center !important;
        z-index: 3;

        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: $col-vw * 2;
    
        @include breakpoint($tablet-break) {
        padding-top: calc(100px / 1.5);
        padding-bottom: calc(100px / 1.5);
    }


    @include breakpoint($mobile-break) {
        padding-top: calc(100px / 2);
        padding-bottom: calc(100px / 2);
    }

        @include breakpoint($laptop-break) {
            padding-left: $col-vw * 3;
        } // &::before {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     background: transparentize($black, 0.2);
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     z-index: 1;
        // }
        
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 2;
        }
        
        // @include breakpoint($mobile-break) {
        //     padding: $col-vw $col-vw;
        // }
        .ct-columns-inner-wrap {
            position: relative;
            z-index: 2;

            h1 {
                &::before {
                    width: $col-vw / 2;
                    
                    @include breakpoint($mobile-break) {
                        display: none;
                    }
                }
            }
        }
    } // sldier
    #ct_columns_67_post_329 {
        background: $black;
        color: $white;
        position: relative;
        z-index: 4;

        .ct-column {
            padding: 0 ($col-vw * 2) $col-vw $col-vw;
            position: relative;
            
        padding-bottom: 100px;
    
        @include breakpoint($tablet-break) {
        padding-bottom: calc(100px / 1.5);
    }


    @include breakpoint($mobile-break) {
        padding-bottom: calc(100px / 2);
    }

            @include breakpoint($tablet-break) {
                padding-right: $col-vw;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: $col-vw * 1.5;
            }


            &::before {
                content: '';
                width: $col-vw * 3;
                height: 4px;
                background: $color1;
                position: absolute;
                top: -2px;
                right: 0;
            }

            .ct-code-block {
                width: 100%;
                display: flex;
                align-items: flex-end;
                flex-direction: column;

                .timeline {
                    width: $col-vw * 5;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 6.5;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw * 7.25;
                    }


                    ul {
                        margin: 0;
                        padding: 0;
                        position: relative;
                        top: -2px;

                        &::before {
                            content: '';
                            width: 100%;
                            height: 4px;
                            background: $color1;
                            position: absolute;
                            top: 0;
                            left: 0.5rem;
                        }

                        .slick-list {
                            overflow: visible !important;

                            .slick-track {
                                position: absolute;
                            }

                            li {
                                position: relative;
                                top: -1rem;
                                margin-top: -1rem;
                                padding-bottom: 1rem;
                                cursor: pointer;
                                outline: none !important;

                                &.slick-current {
                                    h5 {
                                        &::after {
                                            background: $color1;
                                        }
                                    }
                                }

                                h5 {
                                    display: inline-block;
                                    position: relative;
                                    top: -1rem;

                                    &::after {
                                        content: '';
                                        width: 1rem;
                                        height: 1rem;
                                        border: 3px solid $color1;
                                        border-radius: 100%;
                                        background: $black;
                                        position: absolute;
                                        bottom: calc(-2rem - 2px);
                                        left: 50%;
                                        transform: translateX(-50%);
                                        transition: $transition;
                                    }
                                }
                            }
                        }
                    }
                }

                .slider {
                    // padding-top: $col-vw / 2;
                    // padding-top: $col-vw;
                    // margin-top: $col-vw;
                            margin-top: 100px;
    
        @include breakpoint($tablet-break) {
        margin-top: calc(100px / 1.5);
    }


    @include breakpoint($mobile-break) {
        margin-top: calc(100px / 2);
    }
                    width: 100%;


                    .slide {
                        outline: none !important;

                        @include breakpoint($tablet-break) {
                            // padding-left: $col-vw;
                        }


                        @include breakpoint($mobile-break) {
                            padding-left: 0;
                        }


                        .slide-inner {
                            display: flex;
                            justify-content: flex-end;

                            @include breakpoint($tablet-break) {
                                flex-wrap: wrap;
                                align-items: center;
                            }


                            @include breakpoint($mobile-break) {
                                justify-content: space-between;
                            }


                            .num {
                                // width: $col-vw * 2;
                                width: auto;
                                margin-right: 3rem;
                                color: $color1;
                                white-space: nowrap;

                                @include breakpoint($laptop-break) {
                                    margin-right: $col-vw / 2;
                                }


                                @include breakpoint($tablet-break) {
                                    // width: 9rem;
                                    width: 3rem;
                                }


                                @include breakpoint($mobile-break) {
                                    width: auto;
                                    // flex-basis: 35%;
                                    flex-basis: 20%;
                                    margin-right: 0;
                                }

                                // @include breakpoint(371px) {
                                //     flex-basis: 41%;
                                // }


                                h1 {
                                    // font-size: 208px !important;
                                    font-size: 4.166666em !important;
                                    font-weight: 400 !important;
                                    line-height: 0.7199999 !important;

                                    // @include breakpoint($laptop-break) {
                                    //     font-size: 155px !important;
                                    // }


                                    @include breakpoint($tablet-break) {
                                        // font-size: 114px !important;
                                        font-size: 2em !important;
                                    }


                                    // @include breakpoint($mobile-break) {
                                    //     font-size: 89px !important;
                                    // }
                                }
                            }

                            .title {
                                width: $col-vw * 3;
                                padding-right: $col-vw * 0.75;

                                @include breakpoint($laptop-break) {
                                    padding-right: $col-vw / 2;
                                }


                                @include breakpoint($tablet-break) {
                                    width: calc(100% - 3rem - #{$col-vw / 2});
                                }


                                @include breakpoint($mobile-break) {
                                    width: auto;
                                    // flex-basis: 61%;
                                    flex-basis: 80%;
                                    padding-right: 0;
                                }


                                @include breakpoint($mobile-break) {
                                    // width: calc(100% - 9rem);
                                    padding-left: 0;
                                }

                                // @include breakpoint(371px) {
                                //     flex-basis: 55%;
                                // }
                            }

                            .text {
                                // width: $col-vw * 2.25;
                                width: calc(#{$col-vw * 3} - #{$col-vw / 4}); // @include breakpoint($laptop-break) {
                                //     width: $col-vw * 2.5;
                                // }
                                @include breakpoint($tablet-break) {
                                    width: 100%;
                                    padding-left: calc(3rem + #{$col-vw / 2});
                                    padding-top: $col-vw / 2;
                                }


                                @include breakpoint($mobile-break) {
                                    padding-top: $col-vw;
                                    padding-left: 0;
                                }


                                ol {
                                    list-style: none;
                                    padding: 0;

                                    li {
                                        counter-increment: number-counter;
                                        display: flex;
                                        margin-bottom: 1rem;

                                        &:last-child {
                                            margin-bottom: 0;
                                        }

                                        &::before {
                                            content: "0" counter(number-counter);
                                            color: $color1;
                                            font-weight: bold;
                                            margin-right: 1rem;
                                            font-size: 1.2em;
                                            white-space: nowrap;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.accountability {
    background-color: #fff;

    .ct-columns {
        .ct-columns-inner-wrap {
            display: flex !important;
            justify-content: flex-end;

            .ct-column {
                width: ($col-vw * 5) !important;

                @include breakpoint($tablet-break) {
                    width: ($col-vw * 7) !important;
                }


                @include breakpoint($mobile-break) {
                    width: ($col-vw * 8) !important;
                }


                .lb-quote-line {
                    &::before {
                        @include breakpoint($tablet-break) {
                            left: -$col-vw * 2;
                        }
                    }
                }
            }
        }
    }
}

.collaboration {
    position: relative;
    background-color: $white;

    @include padding-top($col-vw * 1.25);
    @include padding-bottom($col-vw * 1.25);

    background-size: cover;
    @include breakpoint($laptop-break) {
        // background-size: 110%;
        background-position-x: 5vw !important;
        background-repeat: no-repeat;
    } // &::before {
    //     content: '';
    //     width: 100%;
    //     height: 100%;
    //     background: transparentize($white, 0.77);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
    .ct-section-inner-wrap {
        position: relative;
        z-index: 2; // h3 {
        //     font: $h2-real !important;
        // }
        
        @include breakpoint($tablet-break) {
            padding: 0 24vw;
        }
    }
    
    .lb-quote-line::before {
        @include breakpoint($tablet-break) {
            left: -12vw;
        }
        
        @include breakpoint($mobile-break) {
            left: -16vw;
        }
    }

    @include breakpoint($tablet-break) {
        background-size: 126%;
        display: none;
    }
    
    @include breakpoint($mobile-break) {
        background-size: 176%;
        background-position-x: -10vw!important;
    }
}
