/******************************************************************

Stylesheet: Universal Site Styles

Only put styles in here that will be used across the entire site.
For styles only applying to one particular page, use the appropriate
page SCSS file.

******************************************************************/

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.btn {
    // @include breakpoint ($mobile-break) {
    //     font-size: 1.2rem !important;
    // }
    &.read-more {
        padding-left: $col-vw / 1.5;
        border-top: 4px solid $color1 !important;
        border-bottom: 0 !important;
        width: auto !important;
        float: right;
        padding-top: 0 !important;

        &::after {
            transform: translate(-5px, -50%);
        }

        &:hover {
            &::after {
                transform: translate(0, -50%);
            }
        }
        &.active {
            &::after {
                transform: translate(-5px, -50%) rotate(180deg);
            }

            &:hover {
                &::after {
                    transform: translate(0, -50%) rotate(180deg);
                }
            }
        }
    }
}

.button,
.btn {
    @include font-size (22.5px, 20px, 20px, 17.5px);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color1; 
}

body {
    &:not(.parent-pageid-15) {
        .se-pre-con {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: $white;

            &::after {
                content: '';
                position: absolute;
                height: 4px;
                width: 50px;
                margin-left: -25px;
                display: block;
                background-color: $color2;
                top: 50%;
                animation: loading 0.8s cubic-bezier(0.44, 0.01, 0.25, 0.98) infinite;

                @keyframes loading {
                    0% {
                        left: 48%;
                    }

                    50% {
                        left: 50%;
                    }

                    100% {
                        left: 48%;
                    }
                }
            }
        }
    }
}

/*********************
GENERAL STYLES
*********************/

// This is the base font size that all typographic elements should be scaled to.
html {
    font-size: 18px;

    @include breakpoint($laptop-break-lrg) {
        font-size: 16px;
    }

    @include breakpoint($laptop-break) {
        font-size: 16px;
    }


    @include breakpoint($mobile-break) {
        font-size: 14px;
    }


    @include breakpoint(359px) {
        font-size: 12px;
    }
}

body {
    font: $body-font;
    font-size: 100%;
    line-height: 1.5;
    color: $color-p;
    background-color: $gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.popup-open {
        overflow: hidden;
    }
}

/*********************
LINK STYLES
*********************/

a,
a:visited {
    // color: $color-active;
    text-decoration: none;

    /* on hover */
    &:focus,
    &:hover {}

    /* on click */
    &:active {}

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    text-rendering: optimizelegibility;
    font-weight: 500;
    margin: 0;

    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */
    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

p {
    margin: 0;
}

h1 {
    @include heading-padding;

    @include font-size (63px, 48px, 36px, 28px); // @include breakpoint($tablet-break) {
    //     font-size: 2.53rem !important;
    // }
    // @include breakpoint($mobile-break) {
    //     // font-size: 2rem !important;
    //     font-size: 1.8rem !important;
    // }
}

h2 {
    @include heading-padding;

    @include font-size (45px, 40px, 40px, 28px); // &.ct-headline {
    //     @include breakpoint(1440px) {
    //         font-size: 3rem !important;
    //     }
    //     @include breakpoint(1250px) {
    //         font-size: 2.5rem !important;
    //     }
    //     @include breakpoint($tablet-break) {
    //         font-size: 2.25rem !important;
    //     }
    //     @include breakpoint(600px) {
    //         font-size: 2rem !important;
    //     }
    // }
}

h3 {
    @include heading-padding;

    @include font-size (36px, 32px, 24px, 17.5px); // @include breakpoint($mobile-break) {
    //     font-size: 1.4rem !important;
    // }
}

h4 {
    @include heading-padding;

    @include font-size (36px, 32px, 32px, 19.6px); // @include breakpoint($mobile-break) {
    //     font-size: 1.25rem !important;
    // }
}

h5 {
    @include heading-padding;

    @include font-size (22.5px, 20px, 20px, 17.5px);
}

// .sr-opacity,
// .sr-fade-op {
//     opacity: 0;
// }
/*********************
HEADER & NAV STYLES
*********************/

@import "../elements/header";

/*********************
HERO STYLES
*********************/

/*********************
GLOBAL ELEMENTS
*********************/

/*********************
Please add global elements as a partial to the 'elements' folder and import here. 
Example of great canidates are title areas, accordions, or tabs.
*********************/

// Section padding
.ct-section {
    .ct-section-inner-wrap {
        padding: 0 ($col-vw * 2);

        @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
        }
    }
}

@import "../elements/rows-columns";
@import "../elements/newsletter-signups";
@import "../elements/buttons";
@import "../elements/forms";
@import "../elements/image-boxes";
@import "../elements/extra-lines";
@import "../elements/evolution-row";
@import "../elements/participate-row";
@import "../elements/intro-row";
@import "../elements/contact-row";
@import "../elements/quote-row";
@import "../elements/row-text-columns";
@import "../elements/form-popups";
@import "../elements/services";
@import "../elements/timeline-tabs";
@import "../elements/videos-photos-row";
@import "../elements/cookies";

/*********************
FOOTER STYLES
*********************/

@import "../elements/footer";
