/******************************************************************

Stylesheet: Business Ethics

Styles for Business Ethics page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

#ct_span_115_post_333 {
    @include breakpoint($tablet-break) {
        display: inline;
    }
}

.context {
    #ct_column_10_post_333 {
        position: relative;

        .lb-box-right {
            width: $col-vw * 5;

            @include breakpoint($laptop-break) {
                width: $col-vw * 5.5;
            }


            @include breakpoint($tablet-break) {
                width: $col-vw * 7;
            }


            @include breakpoint($mobile-break) {
                width: 100%;
            }
        }

        h1 {
            position: absolute;
            left: $col-vw * 4;
            bottom: $col-vw;
            padding-bottom: $col-vw / 2;

            @include breakpoint($laptop-break) {
                left: $col-vw * 4.5;
            }


            @include breakpoint($tablet-break) {
                left: $col-vw * 5.5;

                &::before {
                    right: 0;
                    left: initial;
                    width: $col-vw * 2;
                }
            }


            @include breakpoint($mobile-break) {
                position: initial;
                left: initial;
                bottom: initial;
                padding-top: $col-vw;

                &::before {
                    display: none;
                }
            }
        }
    }

    #ct_columns_99_post_333 {
        margin-top: $col-vw / 2;
        margin-left: $col-vw;

        @include breakpoint($laptop-break) {
            margin-left: $col-vw / 2;
        }


        @include breakpoint($tablet-break) {
            margin-left: $col-vw;
        }


        @include breakpoint($mobile-break) {
            margin-left: 0;
        }
    }
}

.why {
    .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h1 {
            max-width: 38rem;
            text-align: right;
            padding-bottom: $col-vw / 2;

            @include breakpoint($tablet-break) {
                max-width: 27rem;
            }


            @include breakpoint($mobile-break) {
                max-width: 100%;
                padding-bottom: $col-vw;
            }
        }

        .ct-columns {
            position: relative;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            &::before {
                width: $col-vw * 1.5;

                @include breakpoint($tablet-break) {
                    width: $col-vw;
                    left: 0;
                }


                @include breakpoint($mobile-break) {
                    display: none;
                }
            }

            .ct-columns-inner-wrap {
                @include breakpoint($tablet-break) {
                    width: $col-vw * 8;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                }
            }
        }
    }

    .lb-quote-line {
        &::before {
            @include breakpoint($laptop-break) {
                left: 0;
            }
        }
    }
}

.mission {
    background-color: #fff; // image and title
    #ct_columns_38_post_333 {
        .ct-column {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            @include breakpoint($mobile-break) {
                align-items: flex-start;
            }


            .lb-box-left {
                width: $col-vw * 5;
                height: 100%;

                @include breakpoint($laptop-break) {
                    width: $col-vw * 5.5;
                }


                @include breakpoint($tablet-break) {
                    width: $col-vw * 7;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                }
            }

            h1 {
                position: absolute;
                left: $col-vw * 2.5;
                bottom: $col-vw / 2;
                padding-top: $col-vw / 2;

                &::before {
                    bottom: initial;
                    top: 0;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 2;
                    }
                }

                @include breakpoint($laptop-break) {
                    left: $col-vw * 2;
                }


                @include breakpoint($tablet-break) {
                    left: $col-vw * 2;
                }


                @include breakpoint($mobile-break) {
                    position: initial;
                    left: initial;
                    bottom: initial;
                    padding-top: $col-vw;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    #ct_columns_35_post_333 {
        display: flex;
        justify-content: flex-end;

        .ct-columns-inner-wrap {
            margin-top: ($col-vw / 2) !important;
            margin-right: $col-vw !important;

            @include breakpoint($laptop-break) {
                margin-right: ($col-vw / 2) !important;
            }


            @include breakpoint($tablet-break) {
                margin-right: $col-vw !important;
            }


            @include breakpoint($mobile-break) {
                margin-right: 0 !important;
            }
        }
    }
}

// services
#ct_section_55_post_333 {
    @include breakpoint($tablet-break) {
        padding-left: $col-vw;
        padding-right: $col-vw;
    }


    @include breakpoint($mobile-break) {
        padding-left: 0;
        padding-right: 0;
    }


    .ct-section-inner-wrap {
        h1 {
            @include breakpoint($tablet-break) {
                padding-left: $col-vw * 2;

                &::before {
                    left: 0;
                    width: $col-vw !important;
                }
            }
        }

        #ct_text_block_58_post_333 {
            font: $h4 !important;
        }

        .ct-text-block {
            margin-bottom: $col-vw / 2;
            width: $col-vw * 4;

            @include breakpoint($laptop-break) {
                width: $col-vw * 5;
            }


            @include breakpoint($tablet-break) {
                width: $col-vw * 7;
            }


            @include breakpoint($mobile-break) {
                width: $col-vw * 9;
                margin-bottom: $col-vw;
            }
        }
    }
}

.leadership {
    background-color: #fff;

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding: 0 ($col-vw * 2);
        }


        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }
    }

    #ct_column_67_post_333 {
        position: relative;

        .lb-box-right {
            width: $col-vw * 6.5;
            display: flex;

            @include breakpoint($laptop-break) {
                width: $col-vw * 5.5;
                height: $col-vw * 2.75;
            }


            @include breakpoint($tablet-break) {
                width: $col-vw * 7.5;
                height: $col-vw * 4.5;
            }


            @include breakpoint($mobile-break) {
                width: 100%;
                height: $col-vw * 5;
            }


            img {
                object-fit: cover;
                object-position: left;
            }
        }

        h1 {
            position: absolute;
            right: $col-vw / 2;
            bottom: $col-vw / 2;
            padding-top: $col-vw / 2;

            &::before {
                bottom: initial;
                top: 0;

                @include breakpoint($tablet-break) {
                    width: $col-vw * 2;
                }
            }

            @include breakpoint($laptop-break) {
                right: $col-vw * 1.5;
            }


            @include breakpoint($tablet-break) {
                right: 0;
            }


            @include breakpoint($mobile-break) {
                position: initial;
                left: initial;
                bottom: initial;
                padding-top: $col-vw;

                &::before {
                    display: none;
                }
            }
        }
    }

    #ct_columns_72_post_333 {
        margin-top: ($col-vw / 2) !important;

        .ct-columns-inner-wrap {
            @include breakpoint($tablet-break) {
                width: 100% !important;
            }


            .ct-column {
                @include breakpoint($tablet-break) {
                    width: 100% !important;
                    padding: 0 !important;

                    &:first-child {
                        margin-bottom: 1.5rem !important;
                    }
                }
            }
        }
    }
}

.funding {
    background-color: #fff;

    h1 {
        @include breakpoint($mobile-break) {
            padding-bottom: $col-vw;
        }
    }

    #ct_columns_83_post_333 {
        >.ct-columns-inner-wrap {
            >.ct-column {
                width: 50% !important;

                @include breakpoint($mobile-break) {
                    width: 100% !important;
                }


                .ct-columns-inner-wrap {
                    @include breakpoint($tablet-break) {
                        width: 100% !important;
                    }


                    .ct-column {
                        @include breakpoint($tablet-break) {
                            width: 100% !important;
                            padding: 0;

                            &:first-child {
                                margin-bottom: 1.5rem !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.lab-timeline {
    color: $white;
    overflow: hidden;
}

.featured-video-section {
    .ct-section-inner-wrap {
        padding-left: $col-vw;
        padding-right: $col-vw;

        .featured-video {
            padding-left: 0;
            padding-right: 0;

            display: flex;

            @include breakpoint ($tablet-break) {
                flex-wrap: wrap;
            }

            .video-text-wrap {
                width: 45%;
                padding-left: $col-vw / 4;

                @include breakpoint ($tablet-break) {
                    width: 100%;
                    padding-left: 0;
                    margin-top: 2rem;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    margin-top: 1.75rem;

                    li {
                        list-style: none;

                        // p {
                        //     line-height: 1.1em !important;
                        // }
                    }
                }

                .date-social-flex {
                    display: flex;
                    flex-wrap: nowrap;

                    .date {
                        margin-top: 0.875rem;
                        margin-right: 0.875rem;
                        font-weight: 800;
                        opacity: 0.8;
                    }
                    .share {
                        margin-top: 0.875rem;
                        display: flex;
                        justify-content: flex-start;

                        .twitter,
                        .facebook {
                            width: 2rem;

                            a {
                                &:hover {
                                    svg {
                                        path {
                                            fill: $color1;
                                        }
                                    }
                                }
                                svg {
                                    height: 1.2rem !important;

                                    path {
                                        transition: $transition;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .video {
                width: 55%;
                height: $col-vw * 3.06;
                transition: $transition;
                background-size: cover !important;
                background-position: center !important;

                @include breakpoint ($tablet-break) {
                    width: 100%;
                    height: $col-vw * 5.2;
                }

                .video-content-wrap {
                    display: flex;
                    height: inherit;
                    align-items: flex-end;
                    justify-content: flex-end;
                    background-size: cover !important;
                    transition: $transition;

                    &:hover {
                        transform: scale(1.01);

                        .play-button-wrap {
                            svg {
                                path.b {
                                    fill: $color2 !important;
                                }
                            }
                        }
                    }

                    .play-button-wrap {
                        display: flex;
                        align-self: flex-end;
                        height: 52px;

                        svg {
                            height: inherit;
                            width: auto;

                            path.b {
                                transition: $transition;
                            }
                        }
                    }
                }
            }
        }
    }
}

.lb-quote-line {
    font-size: 63px !important;
    
    @include breakpoint($tablet-break) {
        font-size: 36px !important;
    }
    
    @include breakpoint($mobile-break) {
        font-size: 28px !important;
    }
}

#ct_column_127_post_1167 {
    @include breakpoint($mobile-break) {
        margin-bottom: 0 !important;
    }
}
