/******************************************************************

Stylesheet: Contact

Styles for Contact page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-contact {
    padding-bottom: $col-vw !important;

    @include breakpoint($tablet-break) {
        padding-top: $col-vw * 2;
    }


    @include breakpoint($mobile-break) {
        padding-top: $col-vw * 3;
        padding-bottom: $col-vw * 2;
    }
}