/******************************************************************

Stylesheet: About

Styles for About page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.sr-opacity {
    opacity: 1;
}

.btn-forum {
    margin-top: $col-vw / 2;

    a.button {
        svg {
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }

        &.white {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }
}

h2.ct-headline {
    font-weight: 600 !important;
    font-size: 2.5rem !important;

    @include breakpoint(600px) {
        font-size: 2rem !important;
    }
}

h2.lb-quote-line,
.participate #ct_headline_120_post_12 {
    font-size: 3rem !important;

    @include breakpoint(1024px) {
        font-size: 2.5rem !important;
    }


    @include breakpoint(600px) {
        font-size: 2rem !important;
    }
}

.lb-row-organizations h2.lb-quote-line,
.lb-row-schedule h2.lb-quote-line {
    font-size: 2.5rem !important;

    @include breakpoint(600px) {
        font-size: 2rem !important;
    }
}

#ct_headline_120_post_12 {
    @include breakpoint(1440px) {
        font-size: 2.5rem !important;
    }


    @include breakpoint(600px) {
        font-size: 2rem !important;
    }
}

// Small title helpers
.lb-title {
    &.right {
        .ct-columns-inner-wrap {
            display: flex !important;
            justify-content: flex-end;

            h2 {
                text-align: right;
            }
        }
    }

    &.left {
        .ct-columns-inner-wrap {
            display: flex !important;
            justify-content: flex-start;

            h2 {
                text-align: left;
            }
        }
    }
}

.photo-section {
    .ct-section-inner-wrap {
        padding-left: $col-vw;
        padding-right: $col-vw;

        @include breakpoint($mobile-break) {
            padding-left: 0;
            padding-right: 0;
        }


        h3 {
            font-weight: 800 !important;
            margin-bottom: $col-vw / 2;

            @include breakpoint($mobile-break) {
                margin-left: $col-vw;
                margin-bottom: $col-vw;
            }
        }

        .ct-code-block {
            .photo {
                width: $col-vw * 4.75;
                height: $col-vw * 2.5;
                transition: $transition;
                background-size: cover !important;
                background-position: center !important;
                display: flex;
                margin: ($col-vw / 4) 1rem;
                transform: scale(0.8);

                @include breakpoint($laptop-break) {
                    transform: scale(0.75);
                }


                @include breakpoint($tablet-break) {
                    height: $col-vw * 3;
                }


                @include breakpoint($mobile-break) {
                    margin: 0 1px;
                    height: $col-vw * 6;
                    transform: scale(1);
                }


                &.slick-center {
                    transform: scale(1.2);

                    @include breakpoint($mobile-break) {
                        transform: scale(1);
                    }
                }
            }

            .external-link {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: ($col-vw / 3) 0 0 auto;

                @include breakpoint($mobile-break) {
                    display: none;
                }


                img {
                    width: 70px;
                    height: auto;
                    padding-right: 1rem;
                }
            }

            .prev-arrow,
            .next-arrow {
                position: absolute;
            }
        }
    }
}

.lb-row-themes {
    padding: $col-vw 0;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 3) 0;
    }


    .lb-title {
        .ct-column {
            width: 460px !important;

            @include breakpoint($tablet-break) {
                width: 345px !important;
            }


            @include breakpoint($mobile-break) {
                width: 250px !important;
            }


            &#ct_column_18_post_12 {
                width: 100% !important;
            }

            #ct_headline_20_post_12 {
                width: 100%;
                margin-bottom: $col-vw / 2;

                @include breakpoint($tablet-break) {
                    margin-bottom: $col-vw;
                }
            }
        }
    }

    .lb-info {
        padding-top: $col-vw / 3;
    }

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 3;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
        }
    }
}

.lb-row-future {
    padding: $col-vw 0;
    background-color: $color2;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 3) 0;
    }


    .btn-forum {
        text-align: right;
    }

    .lb-title {
        .ct-column {
            width: 360px !important;

            @include breakpoint($tablet-break) {
                width: 275px !important;
            }


            @include breakpoint($mobile-break) {
                width: 240px !important;
            }
        }
    }

    .lb-info {
        padding-top: $col-vw / 3;

        &:after {
            content: '';
            width: $col-vw * 1.5;
            height: $border-width;
            background-color: $color1;
            position: absolute;
            top: $col-vw / 3;
            left: -$col-vw;

            @include breakpoint($tablet-break) {
                display: none;
            }
        }
    }

    p, a, h2, .ct-text-block {
        color: $white;
    }

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-right: $col-vw * 3;
        }


        @include breakpoint($mobile-break) {
            padding-right: $col-vw;
        }
    }

    #ct_columns_35_post_12 {
        .ct-columns-inner-wrap {
            position: relative;

            &:after {
                content: '';
                width: $col-vw * 1.5;
                height: $border-width;
                background-color: $color1;
                position: absolute;
                top: $col-vw / 3;
                left: 0;
                opacity: 0;
                visibility: hidden;

                @include breakpoint($tablet-break) {
                    opacity: 1;
                    visibility: visible;
                }


                @include breakpoint($mobile-break) {
                    top: initial;
                    bottom: 2.53rem;
                }
            }
        }
    }
}

.lb-row-human {
    padding: $col-vw 0;
    background-color: $white;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 3) 0;
    }


    .lb-title {
        .ct-column {
            width: 380px !important;

            @include breakpoint($tablet-break) {
                width: 245px !important;
            }


            @include breakpoint($mobile-break) {
                width: 211px !important;
            }
        }
    }

    .lb-info {
        padding-top: $col-vw / 3;
    }

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 3;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
        }
    }
}

.lb-row-schedule {
    padding: $col-vw 0;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 3) 0;
    }


    .ct-section-inner-wrap {
        padding: 0 $col-vw;

        .ct-column {
            &:last-child {
                @include breakpoint($tablet-break) {
                    margin-top: $col-vw !important;
                }


                @include breakpoint($mobile-break) {
                    display: none !important;
                }
            }
        }

        .schedule {
            margin-left: $col-vw;

            @include breakpoint($tablet-break) {
                margin-left: $col-vw * 1.5;

                &:before {
                    left: -$col-vw * 1.5;
                }
            }


            @include breakpoint($mobile-break) {
                margin-left: $col-vw * 2;

                &:before {
                    left: -$col-vw * 2;
                }
            }
        }

        .schedule-wrapper {
            padding-top: $col-vw / 2;
            padding-right: $col-vw;

            h3 {
                padding-bottom: 2rem;
                font-size: 1.5em !important;
            }

            .table-wrapper {
                display: flex;
                flex-direction: column;

                @include breakpoint($tablet-break) {
                    width: $col * 8;
                }


                @include breakpoint($mobile-break) {
                    width: $col * 12;
                }


                .table-header {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid;
                    padding-bottom: 1.5em;
                    margin-bottom: 1.5em;

                    .table-col {
                        &:first-child {
                            text-align: left;
                        }

                        &:last-child {
                            text-align: right;
                        }
                    }
                }

                .table-body {
                    display: flex;
                    justify-content: space-between;

                    > .table-col {
                        display: flex;
                        flex-direction: column;

                        &:first-child {
                            text-align: left;
                        }

                        &:last-child {
                            text-align: right;
                        }

                        .cell {
                            padding-bottom: 1.5em;
                        }
                    }
                }
            }
        }
    }
}

.lb-row-moderators {
    padding: $col-vw 0;
    background-color: $white;
    display: none !important;

    .ct-headline {
        padding-bottom: $col-vw / 2;
    }

    .ct-columns-inner-wrap {
        .ct-column {
            .main-moderator {
                margin-left: $col-vw / 8;
                position: relative;

                &:before {
                    content: '';
                    top: -$col-vw / 4;
                    right: -$col-vw / 4;
                    content: '';
                    background-color: $color1;
                    opacity: 1;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    position: absolute;
                }

                &:after {
                    content: '';
                    top: $col-vw * 1.5;
                    right: -$col-vw;
                    content: '';
                    background-color: $color2;
                    opacity: 1;
                    width: $col-vw;
                    height: $border-width;
                    z-index: 1;
                    position: absolute;
                }

                .lb-person {
                    padding-bottom: 130%;
                    margin-bottom: 0;
                    z-index: 2;
                }
            }

            .lb-person {
                width: 100%;
                height: 0px;
                padding-bottom: 60.5%;
                margin-bottom: $col-vw / 8;
                background-position: top center;
                background-size: cover;
                position: relative;

                &:hover {
                    &:after {
                        opacity: 0.75;
                    }

                    .lb-info {
                        opacity: 1;
                    }
                }

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    background-color: $color2;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    transition: $transition-slow;
                }

                .lb-info {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 70%;
                    height: 80%;
                    top: 50%;
                    text-align: center;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                    opacity: 0;
                    transition: $transition-slow;
                    z-index: 2;

                    .line {
                        background-color: $white;
                        width: $col-vw;
                        height: 3px;
                        margin: 1rem auto;
                    }

                    h4 {
                        font-size: 1.889em !important;
                    }
                }
            }
        }
    }
}

.lb-row-panelists {
    padding-bottom: $col-vw;
    background-color: $white;
    display: none !important;

    .ct-columns-inner-wrap {
        .lb-panelists-wrapper {
            padding: ($col-vw / 2) 0;
            display: flex;
            flex-wrap: wrap;

            article {
                width: 23% !important;
                margin: 0 1%;
                height: 0px;
                background-position: center;
                background-size: cover;
                position: relative;
                padding: $col-vw / 8;
                padding-bottom: 45%;

                @include breakpoint($tablet-break) {
                    width: 31% !important;
                }


                @include breakpoint($mobile-break) {
                    width: 100% !important;
                    margin: 0;
                }


                .lb-info {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: $color2;
                    color: $white;
                    padding: $col-vw / 8;

                    .name {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

.lb-row-organizations {
    padding: $col-vw 0;
    background-color: $white;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 3) 0;
    }


    .ct-code-block {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }

    .lb-org-wrapper {
        margin-top: $col-vw / 2;
        height: 290px;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 2rem;
        justify-content: flex-start;

        @include breakpoint($mobile-break) {
            height: 225px;
        }


        .lb-org {
            width: calc(100% / 1.1);

            @include breakpoint($mobile-break) {
                width: 100%;
            }
        }
    }
}