/******************************************************************

Stylesheet: Founders

Styles for Founders page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-founders {
    padding: $col-vw 0;

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding: 0 ($col-vw * 2);
        }


        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }


        .ct-code-block {
            .lb-person {
                padding-bottom: $col-vw;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @include breakpoint($tablet-break) {
                    padding-bottom: $col-vw * 2;
                }


                @include breakpoint($mobile-break) {
                    flex-direction: column;
                    padding-bottom: $col-vw * 3;
                }


                &:last-of-type {
                    padding-bottom: 0;
                }

                h5 {
                    font-weight: 600 !important;
                }

                .lb-pic {
                    width: $col-vw * 2;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    padding-top: 35%;
                    position: relative;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 3;
                        padding-top: 50%;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw * 6;
                        padding-top: 83%;
                    }


                    &:before {
                        content: '';
                        width: $col-vw / 2;
                        height: $border-width;
                        position: absolute;
                        top: $col-vw / 2;
                        right: -$col-vw / 4;
                        background-color: $color1;

                        @include breakpoint($tablet-break) {
                            width: $col-vw;
                            top: $col-vw * 1.5;
                            right: -$col-vw / 2;
                        }


                        @include breakpoint($mobile-break) {
                            width: $col-vw * 2;
                            right: -$col-vw;
                        }
                    }
                }

                .lb-info-wrapper {
                    width: $col-vw * 4;
                    padding: 0 ($col-vw / 2);
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 5;
                        padding-left: $col-vw;
                        padding-right: 0;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col * 12;
                        padding: 0;
                        padding-top: $col-vw;
                    }


                    .lb-info {
                        padding-bottom: 1rem;
                        font-family: $primary, $sans-serif !important;

                        @include breakpoint($tablet-break) {
                            width: $col-vw * 4;
                        }


                        @include breakpoint($mobile-break) {
                            width: $col * 10;
                        }
                    }

                    .lb-bio {
                        p {
                            padding-bottom: 1rem;
                            font-family: $primary, $sans-serif !important;

                            &:last-of-type {
                                padding-bottom: 0;
                            }

                            a {
                                font-weight: 700 !important;
                                color: $color2;
                                transition: $transition;

                                &:hover {
                                    color: $color1;
                                }
                            }
                        }
                    }
                }

                &:nth-child(even) {
                    text-align: right;
                    flex-direction: row-reverse;

                    .lb-pic {
                        &:before {
                            left: -$col-vw / 4;
                            right: initial;

                            @include breakpoint($tablet-break) {
                                left: -$col-vw / 2;
                            }


                            @include breakpoint($mobile-break) {
                                left: -$col-vw;
                            }
                        }
                    }

                    .lb-info-wrapper {
                        align-items: flex-end;

                        @include breakpoint($tablet-break) {
                            padding-right: $col-vw;
                            padding-left: 0;
                        }


                        @include breakpoint($mobile-break) {
                            padding: 0;
                            padding-top: $col-vw;
                        }
                    }
                }
            }
        }
    }
}

.lb-row-contact {
    h1 {
        @include breakpoint(600px) {
            font-size: 2rem !important;
        }
    }
}