/******************************************************************

Stylesheet: Home Page

Styles for Homepage ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

// TEMP - PRE LAUNCH CODE
#ct_section_135_post_10 {
    display: none;
}

#ct_image_67_post_10 {
    // transform: translateX(-50%) !important;
    transform: translate(-50%, 5%) !important;

    @include breakpoint ($tablet-break) {
        transform: translateX(-50%) !important;
    }

    @media only screen and (min-device-width: 1280px) {
        min-width: 427px !important;
        max-width: 427px !important;
    }

    @media only screen and (min-device-width: 1500px) {
        min-width: 550px !important;
        max-width: 550px !important;
    }

    @media only screen and (min-device-width: 1800px) {
        min-width: 640px !important;
        max-width: 640px !important;
    }
}

.lb-row-hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    position: relative;

    @media only screen and (min-device-width: 1280px) {
        height: 560px;
    }

    @media only screen and (min-device-width: 1500px) {
        height: 720px;
    }

    @media only screen and (min-device-width: 1800px) {
        height: 850px;
    }

    /* Portrait iPad */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 80vh;
    }

    /* Portrait iPad */
    @media only screen and (min-device-width: 810px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 60vh;
    }

    /* Portrait iPad */
    @media only screen and (min-device-width: 834px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 55vh;
    }

    /* Landscape iPad */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 100vh !important;
    }

    /* Portrait iPad Pro */
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        height: 58vh !important;
    }

    /* Landscape iPad Pro */
    // @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    //     height: 80vh;
    // }
    /* Laptop */
    // @media only screen and (min-height: 400px) and (max-height: 700px) and (orientation: landscape) {
    //     height: 110vh !important;
    // }
    @include breakpoint($mobile-break) {
        // height: 70vh;
        height: 110vw;
    }


    &:before {
        content: '';
        width: $border-width;
        height: $col-vw / 1.5;
        position: absolute;
        background-color: $color2;
        right: $col-vw / 2;
        bottom: $col-vw / 2;
        transform-origin: top center;
        animation: home-scroll 2.25s cubic-bezier(0.44, 0.01, 0.25, 0.98) infinite;

        @include breakpoint($mobile-break) {
            display: none !important;
        }


        @at-root {
            @keyframes home-scroll {
                0% {
                    transform: scaleY(0);
                    opacity: 0;
                }

                40% {
                    transform: scaleY(1);
                    opacity: 1;
                }

                80% {
                    transform: scaleY(1);
                    opacity: 0;
                }

                100% {
                    transform: scaleY(0);
                    opacity: 0;
                }
            }
        }
    }

    .ct-section-inner-wrap {
        width: 100%;
        height: 80%;

        @include breakpoint($mobile-break) {
            height: 65%;
        }


        >.ct-div-block:not(.lb-hero-newsletter) {
            @include breakpoint ($tablet-break) {
                position: relative;
            }

            &:after {
                content: '';
                background-color: $color1;
                width: $col-vw * 7;
                min-width: 600px;
                height: $col-vw * 7;
                min-height: 600px;
                border-radius: 150% !important;
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, $col-vw / 2) !important;

                @media only screen and (min-device-width: 3500px) {
                    max-width: 42vw !important;
                    max-height: 42vw !important;
                }

                @media only screen and (min-device-width: 1700px) {
                    max-width: 900px;
                    max-height: 900px;
                }

                // @media screen and (max-width: 1499px) and (min-height: 851px) {
                //     transform: translate(-50%, 5%) !important;
                // }
                @include breakpoint (1700px) {
                    // transform: translate(-50%, 5%) !important;
                }

                @media only screen and (min-device-width: 1280px) {
                    min-width: 0;
                    min-height: 0;
                    height: 435px !important;
                    width: 435px !important;
                }

                @media only screen and (min-device-width: 1500px) {
                    min-width: 0;
                    min-height: 0;
                    height: 520px !important;
                    width: 520px !important;
                }

                @media only screen and (min-device-width: 1800px) {
                    min-width: 0;
                    min-height: 0;
                    height: 650px !important;
                    width: 650px !important;
                }

                @include breakpoint(1500px) {
                    width: $col-vw * 5.5;
                    height: $col-vw * 5.5;
                }

                @include breakpoint ($tablet-break) {
                    min-width: 570px;
                    min-height: 570px;

                    transform: translate(-50%, -5%) !important;
                }


                @include breakpoint($mobile-break) {
                    // width: $col-vw * 11;
                    // height: $col-vw * 11;
                    width: $col-vw * 10;
                    height: $col-vw * 10;
                    min-width: $col-vw * 10;
                    min-height: $col-vw * 10;
                }
            }

            img {
                position: absolute;
                width: ($col-vw * 5.5) !important; // max-width: 520px; // min-width: 520px;
                max-width: $col-vw * 4.5;
                min-width: $col-vw * 4.5;
                z-index: 2;
                top: $col-vw / 4.5;
                left: 50%;
                transform: translateX(-50%);

                &#ct_image_145_post_10 {
                    min-width: 95% !important;
                    max-width: 95% !important;
                    width: 95% !important;
                }

                @media only screen and (min-device-width: 1500px) and (max-device-width: 1800px) {
                    min-width: $col-vw * 4;
                    width: $col-vw * 4.25 !important;

                    &#ct_image_145_post_10 {
                        min-width: 70% !important;
                        max-width: 70% !important;
                        width: 70% !important;
                    }
                }

                @media only screen and (min-device-width: 1500px) and (max-device-width: 1800px) and (max-device-height: 1000px) {
                    &#ct_image_145_post_10 {
                        min-width: 75% !important;
                        max-width: 75% !important;
                        width: 75% !important;
                        transform: translate(-50%, 100%);
                    }
                }

                @include breakpoint ($laptop-break) {
                    &#ct_image_145_post_10 {
                        min-width: 115% !important;
                        max-width: 115% !important;
                        width: 115% !important;
                    }
                }

                // @media only screen and (min-device-width: 1500px) {
                //     // max-width: initial;
                //     width: ($col-vw * 4.5) !important;
                // }
                @include breakpoint (1600px) {
                    max-width: $col-vw * 5.5; // min-width: $col-vw * 5.5;

                    &#ct_image_145_post_10 {
                        // min-width: 80% !important;
                        // max-width: 80% !important;
                        // width: 80% !important;
                        // transform: translate(-50%, 70%);
                    }
                }

                @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
                    &#ct_image_145_post_10 {
                        min-width: 100% !important;
                        max-width: 100% !important;
                        width: 100% !important;
                    }
                }

                @media only screen and (min-device-width: 1280px) {
                    &#ct_image_145_post_10 {
                        min-width: 384.62px !important;
                        max-width: 384.62px !important;
                        width: 384.62px !important;
                        transform: translate(-50%, 0);
                    }
                }

                @media only screen and (min-device-width: 1500px) {
                    &#ct_image_145_post_10 {
                        min-width: 450px !important;
                        max-width: 450px !important;
                        width: 450px !important;
                    }
                }

                @media only screen and (min-device-width: 1800px) {
                    &#ct_image_145_post_10 {
                        min-width: 500px !important;
                        max-width: 500px !important;
                        width: 500px !important;
                    }
                }

                @include breakpoint ($tablet-break) {
                    max-width: $col-vw * 6;
                    min-width: $col-vw * 6;

                    &#ct_image_145_post_10 {
                        min-width: 100% !important;
                        max-width: 100% !important;
                        width: 100% !important;
                    }
                }

                @include breakpoint ($mobile-break-sml) {
                    &#ct_image_145_post_10 {
                        min-width: 80% !important;
                        max-width: 80% !important;
                        width: 80% !important;
                    }
                }

                @include breakpoint ($tablet-break-sml) {
                    max-width: $col-vw * 8;
                    min-width: $col-vw * 8;
                }

                @include breakpoint($mobile-break) {
                    width: 100%;
                    // max-width: $col * 11;
                    // min-width: $col * 11;
                    max-width: $col * 10;
                    min-width: $col * 10;
                }
            }

            >.ct-div-block {
                position: absolute;
                top: 315px;
                width: $col-vw * 4.25;
                z-index: 3;
                left: 50%;
                display: inline-block;
                transform: translateX(-50%);

                @media only screen and (min-device-width: 1500px) {
                    top: 395px;
                }

                @media only screen and (min-device-width: 1800px) {
                    top: 470px;
                }

                /* Portrait iPad Pro */
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
                    top: calc(30vh - 0.5em);
                }

                /* Landscape iPad Pro */
                // @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
                //     top: calc(40vh - 0.5em);
                // }
                @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
                    width: ($col-vw * 4.5) !important;
                }

                @media only screen and (max-width: $tablet-break) and (orientation: portrait) {
                    top: 24vh;
                    width: 46vw;
                }

                @include breakpoint(810px) {
                    top: 32vw;
                }


                @include breakpoint(768px) {
                    // top: 31vh;
                    top: 42vw;
                    width: 61vw;
                }


                @include breakpoint($mobile-break) {
                    top: 45vw;
                    width: 75% !important;
                }


                @include breakpoint(320px) {
                    width: 100% !important;
                }


                .ct-headline {
                    color: $white;
                    font-weight: 600 !important;

                    @media only screen and (min-device-width: 1500px) {
                        font-size: 5rem !important;
                    }

                    @include breakpoint($tablet-break) {
                        font-size: 4rem !important;
                    }


                    @include breakpoint($mobile-break) {
                        font-size: 2.53rem !important;
                    }
                }

                .ct-text-block {
                    color: $white;
                    font-weight: 700 !important;
                    font-family: $secondary, $sans-serif;

                    @media only screen and (min-device-width: 1500px) {
                        font-size: 1.5rem !important;
                    }
                }

                &:after {
                    content: '';
                    background-color: $color2;
                    width: $col-vw * 1.5;
                    height: $border-width;
                    position: absolute;
                    bottom: -4.77vw;
                    right: calc(-4vw + 13px);
                }
            }
        }
    }
}

.lb-row-quote {
    background-color: $color2;
    // padding: ($col-vw * 1.5) 0 $col-vw 0;
    padding: $col-vw 0 100px 0;

    @include breakpoint($tablet-break) {
        padding: $col-vw;
    }


    @include breakpoint($mobile-break) {
        padding: ($col-vw * 2) ($col-vw);
    }


    .ct-section-inner-wrap {
        @include breakpoint ($mobile-break) {
            padding: 0;
        }

        .ct-column {
            position: relative;

            @include breakpoint($mobile-break) {
                padding-bottom: $col-vw;
            }


            &::after {
                content: '';
                position: absolute;
                height: $border-width;
                width: $col-vw * 1.5;
                background-color: $color1;
                right: 0;
                bottom: 0;

                @include breakpoint($mobile-break) {
                    width: $col-vw * 2.5;
                }
            }

            .ct-headline {
                // width: 470px;
                width: 650px;
                color: $white;
                padding-bottom: 1em;
                position: relative;
                z-index: 2;
                font-weight: 600 !important;
                @include line-height(54px, 48px, 36px, 26.25px);

                @include breakpoint($tablet-break) {
                    // width: 420px;
                    width: 450px;
                }


                @include breakpoint($mobile-break) {
                    width: 100%;
                }


                &::before {
                    content: '\201C';
                    color: $color1;
                    font: $body-font;
                    font-size: 3em !important;
                    position: absolute;
                    left: -3rem;
                    top: -3rem;
                    z-index: -1;

                    @include breakpoint ($mobile-break) {
                        left: -1.5rem;
                    }
                }
            }

            .ct-text-block {
                color: $white;
                opacity: 0.5;
                font: $body-font;
                font-size: 0.9em !important;

                @include breakpoint ($mobile-break) {
                    text-align: right;
                }
            }
        }
    }
}

.lb-row-people {
    .ct-headline {
        width: 570px;

        @include breakpoint(1600px) {
            width: 650px;
        }

        @include breakpoint($laptop-break) {
            width: 570px;
        }

        @include breakpoint($tablet-break) {
            // width: 370px;
            width: 570px;
        }

        @include breakpoint($mobile-break) {
            width: 100%;
        }
    }
}

.panelists-row {
    &.advisory-board {
        .panelist {
            padding: 100px 0;

            @include breakpoint ($tablet-break) {
                padding: $col-vw;
            }
        }
    }
}

#ct_column_97_post_10 {
    width: 34vw !important;

    @include breakpoint($tablet-break) { 
        width: 100% !important;
     }
}

.lb-row-believe {
    background-color: $color3;
    // padding: $col-vw 0;
    padding: 100px 0;

    @include breakpoint ($tablet-break) {
        padding: $col-vw 0;
    }

    .ct-section-inner-wrap {
        text-align: right;

        @include breakpoint($tablet-break) {
            padding: 0 ($col-vw * 2);
        }


        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }


        .lb-image-title {
            padding-bottom: $col-vw / 3;

            @include breakpoint($tablet-break) {
                padding-bottom: $col-vw / 2;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: $col-vw;
                height: 31vw;
            }


            .ct-column {
                position: relative;

                &#ct_column_97_post_10 {
                    width: 34vw !important;
                }

                @include breakpoint($mobile-break) {
                    padding-bottom: $col-vw;
                }

                .lb-box-right {
                    width: $col-vw * 6;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 6.5;
                        margin-left: auto;
                    }


                    @include breakpoint($mobile-break) {
                        // display: none;
                        width: $col-vw * 9.5;
                        margin-right: -$col-vw;
                        padding-top: $col-vw / 2 !important;
                        padding-right: $col-vw / 2 !important;
                    }
                }

                .lb-info {

                    @include breakpoint(600px) {
                        margin-top: 30px;
                    }
                }

                .ct-headline {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 580px;
                    text-align: right;
                    word-break: normal;
                    padding-bottom: $col-vw / 2;

                    @include breakpoint($laptop-break-lrg) {
                        width: 418px;
                    }


                    @include breakpoint(600px) {
                        top: 90%;
                    }


                    @include breakpoint($tablet-break) {
                        // width: 319px;
                        width: 400px;
                        text-align: left;
                        right: unset;
                        left: 0;
                        top: unset;
                        bottom: 10%;
                        transform: translateY(0);
                    }

                    // @include breakpoint($tablet-break-sml) {
                    //     top: 55%;
                    // }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                        text-align: left;
                        // padding-top: $col-vw * 2;
                        // top: 50%;
                        bottom: 20%;
                    }

                    // @include breakpoint($mobile-break-sml) {
                    //     top: 35%;
                    // }


                    span {
                        // font-size: 0.85rem;
                        font-size: 1rem;
                        line-height: 0;
                        transform: translateY(8px);

                        @include breakpoint($tablet-break) {
                            transform: translate(0px);
                        }
                    }

                    &::before {
                        left: 15%;

                        @include breakpoint($tablet-break) {
                            // left: 32%;
                            left: 0;
                            width: $col-vw * 2;
                        }


                        // @include breakpoint($mobile-break) {
                        //     display: none;
                        // }
                    }
                }
            }
        }
    }
}

// video row
#ct_section_135_post_10 {
    background-color: $color3;

    @include breakpoint($mobile-break) {
        padding-top: $col-vw / 2;
    }


    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 3;
            padding-right: $col-vw * 3;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }


        .ct-code-block {
            display: flex;
            flex-wrap: wrap;

            .col {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                justify-content: center;

                &:first-child {
                    width: $col-vw * 4.5;

                    @include breakpoint($laptop-break) {
                        width: $col-vw * 5;
                    }


                    @include breakpoint($tablet-break) {
                        width: 100%;
                    }


                    .video {
                        width: 100%;
                        height: $col-vw * 2.5;
                        margin-bottom: 2%;
                        transition: $transition;
                        background-size: cover !important;
                        background-position: center !important;

                        &:hover {
                            transform: scale(1.02);
                        }

                        @include breakpoint($tablet-break) {
                            height: $col-vw * 3.25;
                        }


                        @include breakpoint($mobile-break) {
                            height: $col-vw * 5.75;
                        }


                        .video-content-wrap {
                            display: flex;
                            height: inherit;
                            align-items: flex-end;
                            justify-content: flex-end;
                            background-size: cover !important;

                            &:hover {
                                .play-button-wrap {
                                    svg {
                                        path {
                                            &.b {
                                                fill: $color2  !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .play-button-wrap {
                            display: flex;
                            align-self: flex-end;
                            height: 52px;
                            width: 52px;

                            @include breakpoint($mobile-break) {
                                height: 37px;
                                width: 37px;
                            }


                            svg {
                                height: inherit;
                                width: auto;

                                rect.a {
                                    fill: #ebbab9;
                                }

                                path.b {
                                    transition: $transition;
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    width: $col-vw * 3;

                    @include breakpoint($laptop-break) {
                        width: $col-vw * 3;
                    }


                    @include breakpoint($tablet-break) {
                        width: 100%;
                        align-items: flex-start;
                    }


                    .info {
                        @include breakpoint($tablet-break) {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                        }


                        @include breakpoint($mobile-break) {
                            justify-content: flex-end;
                        }


                        .video-text-wrap {
                            width: 100%;

                            h4 {
                                text-transform: uppercase;
                            }
                        }

                        .button {
                            display: inline-block;

                            @include margin-top($col-vw / 4);
                        }
                    }
                }
            }
        }
    }
}

.panelists-items-wrapper {
    .slick-arrow {
        &.prev-arrow {
            left: -$col-vw / 4;
            right: initial;

            @include breakpoint($mobile-break) {
                left: $col-vw;
            }
        }

        &.next-arrow {
            right: -$col-vw / 4;
            left: initial;

            @include breakpoint($mobile-break) {
                right: $col-vw;
            }
        }
    }
}

.panelists-row .panelist .panelists-items-wrapper .item {
    .item-inner .info {
        @include breakpoint($mobile-break) {
            text-align: left;
        }
    }

    &:nth-child(even) .item-inner {
        @include breakpoint($mobile-break) {
            // align-items: center;
            align-items: flex-start;
        }
    }

    &:nth-child(odd) .item-inner {
        @include breakpoint($mobile-break) {
            // align-items: center;
            align-items: flex-start;
        }
    }
}