/******************************************************************

Stylesheet: Initiatives

Styles for Initiatives page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.lb-row-believe {
    background-color: $color3;
    padding-top: $col-vw;

    .ct-section-inner-wrap {
        text-align: right;

        .lb-image-title {
            padding-bottom: $col-vw / 3;

            @include breakpoint($tablet-break) {
                padding-bottom: $col-vw;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: 0;
            }


            .ct-column {
                position: relative;

                .lb-box-right {
                    width: $col-vw * 6;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 7;
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                    }
                }

                .ct-headline {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 506px;
                    text-align: right;
                    word-break: normal;
                    padding-top: $col-vw / 4;

                    &::before {
                        top: 0;
                        bottom: initial;

                        @include breakpoint($mobile-break) {
                            display: none;
                        }
                    }

                    @include breakpoint($tablet-break) {
                        width: 289px;
                    }


                    // @include breakpoint(768px) {
                    //     width: 307px;
                    // }

                    @include breakpoint($mobile-break) {
                        width: 100%;
                        position: initial;
                        transform: translateY(0);
                        text-align: left;
                        padding-top: $col-vw;
                    }
                }
            }
        }

        .button {
            margin-top: 2rem;
        }
    }

    .lb-info {
        @include breakpoint($tablet-break) {
            width: $col-vw * 7;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
        }
    }
}

.lb-row-maternal {
    background-color: $color3;
    padding-top: $col-vw;

    @include breakpoint($tablet-break) {
        padding-top: $col-vw * 2;
    }


    @include breakpoint($mobile-break) {
        text-align: right;
    }


    .ct-section-inner-wrap {
        // text-align: left;
        padding: 0 $col-vw 0 0;
        width: $col-vw * 8;
        margin: auto;
        margin-right: 0;

        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
            width: 100%;
        }


        .lb-image-title {
            padding-bottom: $col-vw / 3;

            @include breakpoint($tablet-break) {
                padding-bottom: $col-vw;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: 0;
            }


            .ct-column {
                position: relative;

                .lb-box-left {
                    width: $col-vw * 4.25;
                    margin: auto;
                    margin-right: 0;

                    &:after {
                        content: '';
                        width: calc(100% - #{$col-vw / 3});
                        height: calc(100% - #{$col-vw / 3});
                        position: absolute;
                        left: $col-vw / 3;
                        top: $col-vw / 3;
                        background-color: $white;
                        opacity: 0.3;
                        display: block;
                    }

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 6;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw * 8;
                    }
                }

                .ct-headline {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 525px;
                    text-align: left;
                    word-break: normal;
                    padding-top: $col-vw / 4;

                    &::before {
                        right: 0;
                        left: initial;

                        @include breakpoint($mobile-break) {
                            display: none;
                        }
                    }

                    @include breakpoint($tablet-break) {
                        width: 301px;
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                        position: initial;
                        transform: translateY(0);
                        text-align: left;
                        padding-top: $col-vw;
                    }
                }
            }
        }

        .button {
            margin-top: 2rem;
        }
    }

    .lb-info {
        @include breakpoint($tablet-break) {
            width: $col-vw * 7;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
        }
    }
}

.lb-row-callenge {
    background-color: $color3;
    padding: $col-vw 0;

    @include breakpoint($tablet-break) {
        padding: ($col-vw * 2) 0;
    }


    .ct-section-inner-wrap {
        text-align: right;
        padding: 0 0 0 $col-vw;
        width: $col-vw * 8;
        margin: 0;

        @include breakpoint($tablet-break) {
            width: $col-vw * 9;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
            padding: 0 $col-vw;
        }


        .lb-image-title {
            padding-bottom: $col-vw / 3;

            @include breakpoint($tablet-break) {
                padding-bottom: $col-vw;
            }


            @include breakpoint($mobile-break) {
                padding-bottom: 0;
            }


            .ct-column {
                position: relative;

                .lb-box-right {
                    width: $col-vw * 6;
                    margin-left: $col-vw;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 7.5;
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                        margin-left: 0;
                    }
                }

                .ct-headline {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 481px;
                    text-align: left;
                    word-break: normal;
                    padding-top: $col-vw / 4;

                    &::before {
                        @include breakpoint($mobile-break) {
                            display: none;
                        }
                    }

                    @include breakpoint($tablet-break) {
                        width: 275px;
                    }


                    @include breakpoint($mobile-break) {
                        width: 100%;
                        position: initial;
                        transform: translateY(0);
                        text-align: left;
                        padding-top: $col-vw;
                    }
                }
            }
        }

        .button {
            margin-top: 2rem;
        }
    }

    .lb-info {
        @include breakpoint($tablet-break) {
            width: $col-vw * 7;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
        }
    }
}

.lb-row-people {
    background-image: url('/wp-content/uploads/2018/03/initiativeQouteRow.jpg') !important;

    .ct-headline {
        width: 550px;
        font-size: 2rem !important;

        @include breakpoint($tablet-break) {
            width: 460px;
            font-size: 1.5rem !important;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
            font-size: 1.4rem !important;
        }
    }
}