.ct-section.overview {
    .ct-section-inner-wrap {
        .ct-columns:last-child {
            .ct-columns-inner-wrap {
                .ct-column .ct-headline {
                    width: 4rem !important;
                }
            }
        }
    }
}

@media only screen and (min-width: $laptop-break) {
    .obj {
        &-one,
        &-two {
            &.ct-section {
                .ct-columns {
                    .ct-columns-inner-wrap {
                        .ct-column {

                            &.text {
                                width: 20.573vw !important;

                                &.first {
                                    padding-right: 0;
                                    margin-right: 5vw;
                                }

                                &.second {
                                    padding-left: 0;
                                }
                            }

                            &.quote {
                                position: relative;
                                top: 12vw;
                                left: 12vw;
                                width: 21vw !important;

                                h5 {
                                    font-size: 18px !important;
                                    font-weight: 600 !important;

                                    &::before {
                                        left: -2vw;
                                        font-size: 3.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .ct-headline:not(.lb-title-number) {
                font-weight: 600 !important;
            }
        }
    }

    .institutional,
    .legacy {
        &.ct-section {
            .ct-columns {
                .ct-columns-inner-wrap {
                    .ct-column {

                        h1 {
                            margin-bottom: $col-vw / 3;
                        }

                        width: 100% !important;

                        &.text {
                            width: 22vw !important;

                            &.first {
                                padding-right: 0;
                                margin-right: 6vw;
                            }

                            &.second {
                                padding-left: 0;
                            }
                        }

                        &.quote {
                            // position: relative;
                            // top: 11vw;
                            position: absolute;
                            right: 0;
                            width: calc(100% - 50vw) !important;
                            top: 8vw;

                            &.left {
                                top: 8.3vw;
                                left: 2vw;
                                width: 20vw !important;
                            }

                            h5 {
                                font-size: 18px !important;
                                font-weight: 600 !important;

                                &::before {
                                    left: -2vw;
                                    font-size: 3.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ct-section.metrics {
        .ct-section-inner-wrap {
            .ct-columns:first-child {
                .ct-column {
                    .lb-box-right {
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .quote h5 {
        font-size: 18px !important;
        font-weight: 600 !important;
    }
}

.ct-inner-content {
    .ct-section {
        &.institutional,
        &.legacy {
            .ct-section-inner-wrap {
                padding: 0 $col-vw 0 ($col-vw * 2) !important;

                @include breakpoint($mobile-break) {
                    padding: 0 $col-vw !important;
                }
            }
        }

        &.lb-row-intro {
            .ct-section-inner-wrap {
                @include breakpoint($tablet-break) {
                    padding: 0 $col-vw !important;
                }

                .ct-text-block {
                    // @include breakpoint($tablet-break) {
                    //     margin-top: 6.25vw !important;
                    // }
                }

                img {
                    width: auto !important;
                    max-height: 45px;

                    @include breakpoint($tablet-break) {
                        max-height: 25px;
                        width: 159px !important;
                    }

                    @include breakpoint($mobile-break) {
                        max-height: 23px;
                        width: 146px !important;
                    }
                }
            }
        }
    }
}

@include breakpoint ($tablet-break) {
    &.page-template-default .ct-section.lb-row-intro:not(#ct_section_3_post_333) .ct-section-inner-wrap .ct-column:first-child .ct-text-block {
        // margin-top: calc(#{$col-vw} / 3 + 10px) !important;
    }
        .quote h5 {
        font-size: 16px !important;
        line-height: 1.5rem !important;
    }
}

@include breakpoint ($mobile-break) {
        &.page-template-default .ct-section.lb-row-intro:not(#ct_section_3_post_333) .ct-section-inner-wrap .ct-column:first-child .ct-text-block {
        margin-top: 9vw !important;
    }
    h1#ct_headline_170_post_626,
    h1#ct_headline_195_post_626 {
        padding-bottom: 0.5em;
    }

    div#ct_column_202_post_626 {
        padding-top: $col-vw / 1.5;
    }

    div#ct_column_289_post_1186 {
        margin-bottom: 0 !important;
    }
    .quote h5 {
        font-size: 14px !important;
        line-height: normal !important;
    }
}

h1.lb-quote-line:not(#ct_headline_6_post_30) {
    @include breakpoint($tablet-break) {
        padding-left: 0!important;
    }

    @include breakpoint($mobile-break) {
        padding-left: $col-vw * 2 !important;
    }
}

.ct-inner-content {
    .ct-section.use {
        .ct-section-inner-wrap {
            @include breakpoint($tablet-break) {
                padding: 0 $col-vw !important;
            }
        }
    }
}

.ct-section.overview {
    .ct-section-inner-wrap {
        .ct-columns {
            &:nth-child(2),
            &:last-child {
                padding-left: $col-vw !important;

                @include breakpoint($tablet-break) {
                    padding-left: 0 !important;
                }
            }
        }

        .ct-columns:first-child {
            .ct-column {
                #ct_div_block_147_post_626 {
                    h5 {
                        padding-bottom: 4vw;
                    }
                }
            }
        }
    }
}

.institutional {
    h1.ct-headline {
        &::before {
            content: '';
            height: $border-width;
            position: absolute;
            top: 0.475em;
            left: -$col-vw;
            background-color: $color1;

            @include breakpoint($tablet-break) {
                width: $col-vw * 1;
            }

            @include breakpoint($tablet-break) {
                width: $col-vw / 2 !important;
            }


            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }
}

.legacy {
    h1.ct-headline {
        // padding-right: $col-vw;

        &::before {
            content: '';
            height: $border-width;
            position: absolute;
            top: 0.475em;
            right: 0;
            background-color: $color1;

            @include breakpoint($tablet-break) {
                width: $col-vw * 1;
            }

            @include breakpoint($tablet-break) {
                left: -$col-vw;
                width: $col-vw / 2 !important;
            }


            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }
}
