/******************************************************************

Stylesheet: Media

Styles for Media page ONLY. If the styles will be used across the site,
use the _media.scss file.

******************************************************************/

.lb-row-intro {
    background-color: $color3 !important;
}

// .prev-arrow {
//     display: block;
//     position: relative;
//     height: 15px;
//     width: 15px;
//     top: 27vw;
//     z-index: 9999999;
//     left: 0;
// }
// .next-arrow {
//     display: block;
//     position: relative;
//     height: 15px;
//     width: 15px;
//     right: 0;
//     top: -27vw;
//     left: 96%;
//     @include breakpoint(359px) {
//         left: 95%;
//     }
// }
h2 {
    margin-bottom: $col-vw / 4;

    @include breakpoint($tablet-break) {
        margin-bottom: $col-vw / 2;
    }


    @include breakpoint($mobile-break) {
        margin-bottom: $col-vw;
        padding-left: $col-vw;
        padding-right: $col-vw;
    }
}

#ct_section_8_post_399 {
    // feautred video
    #ct_code_block_18_post_399 {
        display: flex;

        @include breakpoint($tablet-break) {
            flex-wrap: wrap;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }


        .video {
            width: 55%;
            height: $col-vw * 3;
            transition: $transition;
            background-size: cover !important;
            background-position: center !important;

            @include breakpoint($tablet-break) {
                width: 100%;
                height: $col-vw * 5.25;
            }


            @include breakpoint($mobile-break) {
                height: $col-vw * 5.68;
            }


            .video-content-wrap {
                display: flex;
                height: inherit;
                align-items: flex-end;
                justify-content: flex-end;
                background-size: cover !important;

                &:hover {
                    .play-button-wrap {
                        svg {
                            path {
                                &.b {
                                    fill: $color2 !important;
                                }
                            }
                        }
                    }
                }

                .play-button-wrap {
                    display: flex;
                    align-self: flex-end;
                    height: 52px;

                    @include breakpoint($mobile-break) {
                        height: 37px;
                    }


                    svg {
                        height: inherit;
                        width: auto;

                        rect.a {
                            fill: #ebbab9;
                            stroke: none
                        }

                        path.b {
                            transition: $transition;
                        }
                    }
                }
            }
        }

        .video-text-wrap {
            width: 45%;
            padding-left: $col-vw / 4;

            h3 {
                margin: 0;
            }

            @include breakpoint($tablet-break) {
                width: 100%;
                padding-left: 0;
                margin-top: 1rem;
            }


            ul {
                margin: 0;
                padding: 0;
                margin-top: 1.75rem;

                @include breakpoint($tablet-break) {
                    margin-top: 0.25rem;
                    margin-bottom: 0.5rem;
                    display: flex;
                    flex-wrap: wrap;
                }

                @include breakpoint ($mobile-break) {
                    margin-top: 0rem;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                }

                li {
                    list-style: none;
                    margin-bottom: 1.25rem;

                    @include breakpoint($tablet-break) {
                        margin-top: 1rem;
                        width: 50%;
                        padding-right: 2rem;
                    }


                    @include breakpoint($mobile-break) {
                        width: 48%;
                        padding-right: 0;
                        margin-bottom: 0.25rem;
                    }


                    &:last-child {
                        margin-bottom: 0;
                        flex-grow: 1;
                    }

                    p {
                        // line-height: 1.1em !important;
                    }
                }
            }

            .date-social-flex {
                display: flex;
                flex-wrap: nowrap;

                .date {
                    margin-top: 0.875rem;
                    margin-right: 0.875rem;
                    font-weight: 800;
                    opacity: 0.8;

                    @include breakpoint ($mobile-break) {
                        margin-top: 0.5rem;
                    }
                }

                .share {
                    margin-top: 0.875rem;
                    display: flex;
                    justify-content: flex-start;

                    @include breakpoint ($mobile-break) {
                        margin-top: 0.5rem;
                    }

                    .twitter,
                    .facebook {
                        width: 2rem;

                        a {
                            opacity: 0.8;
                            transition: $transition;

                            &:hover {
                                svg {
                                    fill: $color1;
                                }
                            }

                            svg {
                                height: 1.2rem;
                                transition: $transition;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ct-section:not(.lb-row-evolution) h2.ct-headline {
    margin-bottom: $col-vw / 4;
    // margin-top: $col-vw / 2;

    font-weight: 600 !important;
    font-size: 2.5rem !important;

    @include breakpoint ($tablet-break) {
        font-size: 2rem !important;
    }

    @include breakpoint($mobile-break) {
        margin-left: $col-vw;
        margin-top: $col-vw;
        margin-bottom: $col-vw / 2;
        font-size: 2rem !important;

        &#ct_headline_11_post_399 {
            margin-top: 0;
        }
    }
}

h4 {
    // font-weight: 800 !important;
    margin-bottom: $col-vw / 4;
    margin-top: $col-vw / 2;

    @include breakpoint($mobile-break) {
        margin-left: $col-vw;
        margin-top: $col-vw;
        margin-bottom: $col-vw / 2;

        &#ct_headline_11_post_399 {
            margin-top: 0;
        }
    }
    // &.media-subheader {
    //     font-size: 1.3rem !important;
    // }
}

.videos-inner-wrap {
    position: relative;

    .slick-slide {
        .play-button-wrap {
            svg {
                // visibility: hidden;
                opacity: 1;
                transition: $transition;

                .a {
                    stroke: none;
                }
            }
        }

        &.slick-current {
            .play-button-wrap {
                svg {
                    opacity: 1;
                }
            }
        }
    }

    .video-wrapper {
        display: flex;
        flex-direction: column;
        width: 24%;
        // margin: 0.5rem;
        margin: 0 1.2rem;

        @include breakpoint($tablet-break) {
            width: 47%;
        }


        .video {
            flex-basis: 100%;
            width: 100%;

            .video-content-wrap {
                justify-content: flex-end;
            }
        }

        p {
            &:first-of-type {
                margin-top: 1rem;
                font-weight: 700 !important;
                line-height: 1.5rem !important;
            }
        }
    }
}