/******************************************************************

Stylesheet: Privacy & Cookie Policy

Styles for Privacy & Cookie Policy page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/
.ct-code-block {
        a {
            color: $color-p;
            font: $body-font;
            font-weight: 600 !important;
            position: relative;
            overflow: hidden;
            display: inline-flex;
            transition: $transition-slow;

            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $color1;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateX(-100%);
                transition: $transition-slow;
            }

            &:hover {
                &::before {
                    transform: translateX(0);
                }
            }
        }
    }