/******************************************************************

Stylesheet: Square Roots

Styles for Square Roots page ONLY. If the styles will be used across the site,
use the _base.scss file.

******************************************************************/

.lb-row-intro {
    .ct-headline {
        @include breakpoint($mobile-break) {
            padding-right: $col-vw;
        }
    }
}

// rooted row
.rooted {
    .lb-box-right {
        width: $col-vw * 6.5;
        display: flex;

        @include breakpoint($laptop-break) {
            width: $col-vw * 6.5;
            height: $col-vw * 2.75;
        }


        @include breakpoint($tablet-break) {
            width: $col-vw * 7;
            height: $col-vw * 3.5;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
            height: $col-vw * 5;
        }


        img {
            object-fit: cover;
            object-position: left;
        }
    }

    h1 {
        &:not(.lb-quote-line) {
            position: absolute;
            right: $col-vw / 2;
            bottom: $col-vw * 0.15; // padding-top: $col-vw / 2;
            // padding-bottom: 0;
            padding-top: 0;
            padding-bottom: $col-vw / 4;
            width: 11.5em;
            text-align: right;
            font: $h3 !important;

            &::before {
                bottom: initial; // top: 0;
                bottom: 0;
                right: $col-vw;
                left: initial;

                @include breakpoint ($laptop-break) {
                    top: -$col-vw / 2;
                    bottom: initial;
                }
            }

            @include breakpoint(1550px) {
                right: 0;
                bottom: $col-vw * 0.25;
            } // @include breakpoint($laptop-break) {
            //     right: 0;
            //     bottom: $col-vw * 0.25;
            // }
            @include breakpoint($tablet-break) {
                width: 11.5em;
                bottom: 0.75em;

                &::before {
                    right: initial;
                    left: $col-vw;

                    @include breakpoint(768px) {
                        left: 14.333333vw;
                        top: -2rem;
                        width: 20vw;
                    }
                }
            }


            @include breakpoint($mobile-break) {
                position: initial;
                left: initial;
                bottom: initial;
                padding-top: $col-vw;
                padding-bottom: $col-vw;
                width: 100%;
                text-align: left;

                &::before {
                    display: none;
                }
            }
        }
    }

    .text-col {

        .button {
            font-family: $secondary !important;
            font-size: inherit !important;
        }

        padding-top: $col-vw / 2;

        @include breakpoint($mobile-break) {
            padding-top: 0;
        }


        .ct-columns-inner-wrap {
            @include breakpoint($tablet-break) {
                width: ($col-vw * 7.5) !important;
            }


            @include breakpoint($mobile-break) {
                width: 100% !important;
            }
        }
    }
}

// purpose row
.purpose {
    background-color: #fff;

    .ct-section-inner-wrap {
        h1 {
            @include breakpoint($tablet-break) {
                padding-left: $col-vw * 2;

                &::before {
                    left: 0;
                }
            }
        }

        #ct_text_block_33_post_331 {
            font: $h4 !important;
            font-weight: 500 !important;
        }

        .ct-code-block {
            display: flex;
            flex-wrap: wrap;
            margin-top: $col-vw / 2;

            @include breakpoint($mobile-break) {
                margin-top: $col-vw;
            }


            .service {
                width: calc(50% - #{$col-vw / 4});
                margin-bottom: $col-vw / 2;
                display: flex;
                justify-content: space-between;

                @include breakpoint($tablet-break) {
                    width: 100% !important;
                    margin-bottom: $col-vw !important; // align-items: center;
                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }


                &:nth-child(1) {
                    order: 1;
                    margin-bottom: $col-vw / 2;
                    padding-right: $col-vw / 4;

                    @include breakpoint($tablet-break) {
                        padding: 0;
                    }
                }

                &:nth-child(2) {
                    order: 3;
                    padding-right: $col-vw / 4;

                    @include breakpoint($tablet-break) {
                        padding: 0;
                        order: 2;
                    }
                }

                &:nth-child(3) {
                    order: 2;
                    margin-bottom: 0;
                    padding-right: $col-vw / 4;

                    @include breakpoint($tablet-break) {
                        padding: 0;
                        order: 3;
                    }
                }

                &:nth-child(4) {
                    order: 4;
                    padding-right: $col-vw / 4;

                    @include breakpoint($tablet-break) {
                        padding: 0;
                        order: 4;
                    }
                }

                &:nth-child(5) {
                    order: 4;
                    padding-left: $col-vw / 4;
                    margin-bottom: 0 !important;

                    @include breakpoint($tablet-break) {
                        padding: 0;
                        order: 5;
                    }
                }

                h2 {
                    color: $color1;
                    font-weight: 400 !important;
                    line-height: 1 !important;
                }

                .num {
                    display: block !important; // padding-right: $col-vw / 2;
                    // @include breakpoint($mobile-break) {
                    //     display: none;
                    // }
                }

                .info {
                    flex-basis: 75%;

                    @include breakpoint($tablet-break) {
                        flex-basis: 85%;
                    }


                    @include breakpoint($mobile-break) {
                        flex-basis: 75%;
                    }
                }
            }
        }
    }
}

.healthy {
    .ct-text-block {
        a {
            color: $color2;
            font-weight: 800;
            transition: $transition;
            position: relative;
            display: inline-block;
            line-height: 1.2rem;
            border-bottom: 2px solid $color1;

            &:hover {
                color: $color1;
            } // &::after {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 2px;
            //     background-color: $color1;
            //     position: absolute;
            // }
        }
    }

    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            padding: 0 ($col-vw * 1.5);
        }


        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }


        #ct_columns_37_post_331 {
            .ct-columns-inner-wrap {
                @include breakpoint($tablet-break) {
                    display: flex !important;
                    flex-wrap: wrap;
                }


                .ct-column {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    @include breakpoint($mobile-break) {
                        flex-direction: column;
                    }


                    .lb-box-right {
                        width: $col-vw * 6;
                        position: relative;
                        right: -$col-vw;

                        @include breakpoint($tablet-break) {
                            right: 0;
                            width: $col-vw * 8;
                        }


                        @include breakpoint($mobile-break) {
                            width: 100%;
                        }
                    }

                    h1 {
                        width: 12.5em;
                        position: absolute;
                        bottom: $col-vw / 4;
                        left: $col-vw * 2;
                        padding-bottom: $col-vw / 2;

                        @include breakpoint($tablet-break) {
                            left: 0;

                            &::before {
                                width: $col-vw * 2;
                            }
                        }


                        @include breakpoint($mobile-break) {
                            position: initial;
                            left: initial;
                            bottom: initial;
                            padding-top: $col-vw;
                            width: 100%;

                            &::before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        #ct_columns_133_post_331 {
            padding-top: $col-vw / 2;
        }

        #ct_columns_43_post_331 {
            padding-top: $col-vw / 2;

            @include breakpoint($mobile-break) {
                padding-top: $col-vw;
            }


            .ct-columns-inner-wrap {
                .ct-column {
                    width: ($col-vw * 4) !important;
                    margin-left: ($col-vw * 2) !important;

                    @include breakpoint($tablet-break) {
                        width: ($col-vw * 7) !important;
                        margin-left: 0 !important;
                    }


                    @include breakpoint($mobile-break) {
                        margin-left: 0 !important;
                        width: 100% !important;
                    }


                    h5 {
                        margin-bottom: 2rem;
                    }

                    .ct-code-block {
                        margin: 2rem 0;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        @include breakpoint($laptop-break) {
                            margin: 1.75rem 0;
                        }


                        @include breakpoint($tablet-break) {
                            margin: 1.25rem 0;
                        }


                        @include breakpoint($mobile-break) {
                            margin: 0.75rem 0;
                        }


                        .service {
                            display: flex;
                            width: calc(50% - 1rem);
                            align-items: center;

                            @include breakpoint($mobile-break) {
                                width: 100% !important;
                                padding-bottom: 0.25rem !important;

                                &:last-child {
                                    padding-bottom: 0 !important;
                                }
                            }


                            &:nth-child(1) {
                                order: 1;
                                margin-bottom: 0.25rem;

                                @include breakpoint($mobile-break) {
                                    margin-bottom: 0;
                                }
                            }

                            &:nth-child(2) {
                                order: 3;
                            }

                            &:nth-child(3) {
                                order: 2;
                                margin-bottom: 0.25rem;

                                @include breakpoint($mobile-break) {
                                    margin-bottom: 0;
                                }
                            }

                            &:nth-child(4) {
                                order: 4;
                            }

                            .num {
                                @include breakpoint($mobile-break) {
                                    width: 3rem;
                                }


                                h5 {
                                    font-size: 1.175rem !important;
                                    font-weight: 800 !important;
                                    margin: 0;
                                    margin-right: 1rem;
                                }
                            }

                            .info {
                                font: $body-font;
                            }
                        }
                    }
                }
            }
        }
    }
}

// historic row
#ct_section_52_post_331 {
    .ct-section-inner-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h1 {
            text-align: right;
            width: 10.5em;

            @include breakpoint($tablet-break) {
                width: 11.5em;
            }


            @include breakpoint($mobile-break) {
                width: 100%;
            }
        }

        .ct-columns {
            display: flex;
            justify-content: flex-end;
        }

        .lb-quote-line {
            .ct-columns-inner-wrap {
                @include breakpoint($tablet-break) {
                    width: ($col-vw * 8) !important;
                }


                @include breakpoint($mobile-break) {
                    width: 100% !important;
                }
            }

            @include breakpoint($mobile-break) {
                width: 100% !important;
            }


            &::before {
                @include breakpoint($laptop-break) {
                    width: $col-vw * 1.5;
                }


                @include breakpoint($tablet-break) {
                    width: $col-vw;
                    left: 0;
                }


                @include breakpoint($mobile-break) {
                    display: none;
                }
            }
        }
    }
}

// lasting row
#ct_section_62_post_331 {
    .ct-text-block {
        @include breakpoint($mobile-break) {
            font-size: 1.2rem !important;
        }
    }

    .ct-code-block {
        margin-top: $col-vw / 2;
        display: flex;
        flex-wrap: wrap;

        @include breakpoint($mobile-break) {
            margin-top: $col-vw;
        }


        .service {
            width: calc(50% - #{$col-vw / 4});
            position: relative;
            padding-left: $col-vw / 2;

            @include breakpoint($tablet-break) {
                padding-left: $col-vw;
            }


            @include breakpoint($mobile-break) {
                padding-left: $col-vw * 2;
                width: 100%;
                margin-top: $col-vw !important;

                &:first-child {
                    margin-top: 0 !important;
                }
            }


            &::before {
                content: '';
                width: $col-vw / 4;
                height: 4px;
                position: absolute;
                left: 0;
                top: 0.45rem;
                background: $color1;

                @include breakpoint($tablet-break) {
                    width: $col-vw / 2;
                }


                @include breakpoint($mobile-break) {
                    width: $col-vw;
                }
            }

            &:nth-child(n+3) {
                margin-top: $col-vw / 2;
            }

            &:nth-child(even) {
                margin-left: $col-vw / 4;

                @include breakpoint($mobile-break) {
                    margin: 0;
                }
            }

            &:nth-child(odd) {
                margin-right: $col-vw / 4;

                @include breakpoint($mobile-break) {
                    margin: 0;
                }
            }
        }
    }
}

.lab-timeline {
    color: $white;
    overflow: hidden;
}

.ct-section {
    &:focus {
        outline: none;
    }
}

// Well Being
#ct_section_249_post_1615 {
    padding-top: $col-vw / 2;

    @include breakpoint ($mobile-break) {
        padding-top: $col-vw;
    }
    .ct-section-inner-wrap {
        @include breakpoint ($laptop-break-lrg) {
            padding: 0 $col-vw;
        }
        @include breakpoint ($tablet-break) {
            padding: 0 $col-vw 0 ($col-vw * 2);
        }
        .ct-columns {
            box-shadow: 0px 3px 6px rgba($black, 0.16);
            padding: 1rem 2rem;

            @include breakpoint ($mobile-break) {
                padding: 0;
                box-shadow: none;
            }

            .ct-columns-inner-wrap {
                display: flex !important;
                flex-wrap: wrap;
                align-items: center;

                .ct-column {
                    width: 50% !important;

                    @include breakpoint ($mobile-break) {
                        width: 100% !important;
                    }

                    &:first-child {
                        img {
                            width: 33%;

                            @include breakpoint ($tablet-break) {
                                width: 50%;
                            }
                            @include breakpoint ($mobile-break) {
                                width: 65%;
                                float: right;
                                margin-bottom: 1rem;
                            }
                        }
                    }
                    &:last-child {
                        text-align: right;

                        .ct-code-block {
                            display: flex;
                            justify-content: flex-end;
                            a {
                                position: relative;
                                font-family: $primary;
                                @include font-size (20px, 16px, 16px, 16px);
                                font-weight: 600;
                                color: $color-p;
                                margin: 0 1.75rem;

                                @include breakpoint ($tablet-break) {
                                    margin: 0 1.5rem;
                                }

                                &:first-child {
                                    margin-left: 0;
                                }
                                &:last-child {
                                    margin-right: 0;
                                }

                                &::after {
                                    content: '';
                                    width: 20px;
                                    height: 3px;
                                    background-color: $color1;
                                    position: absolute;
                                    top: 50%;
                                    right: calc(-20px - 0.5em);
                                    transform: scaleX(0);
                                    transform-origin: left;
                                    transition: $transition-slow;
                                }

                                &:hover {
                                    &::after {
                                        transform: scaleX(1);

                                        @include breakpoint ($mobile-break) {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#ct_section_253_post_1615 {
    @include breakpoint ($mobile-break) {
        padding-top: $col-vw * 2;
    }
    .ct-section-inner-wrap {
        @include breakpoint ($laptop-break-lrg) {
            padding: 0 $col-vw;
        }
        .ct-columns {
            .ct-column {
                &:first-child {
                    h3 {
                        font-family: $secondary !important;
                        margin-bottom: 2rem;
                    }
                    padding-right: $col-vw / 1.5;

                    @include breakpoint ($tablet-break) {
                        padding-right: 0;
                        width: 100%;
                    }
                }
                &:last-child {
                    img {
                        width: 100%;
                    }
                    @include breakpoint ($tablet-break) {
                        display: none;
                    }
                }
            }
        }
    }
}

#ct_section_309_post_1615, #ct_section_314_post_1615, #ct_section_9_post_331 {
    h1 {
        @include breakpoint ($tablet-break) {
            padding-bottom: $col-vw / 4;
        }
        @include breakpoint ($mobile-break) {
            padding-bottom: 0;
        }
    }
}

#ct_section_264_post_1615 {
    padding-top: $col-vw / 4 !important;

    @include breakpoint ($tablet-break) {
        padding-top: $col-vw / 2 !important;
    }

    @include breakpoint($mobile-break) {
        padding-bottom: $col-vw * 1.5 !important;
    }

    .ct-section-inner-wrap {
        @include breakpoint ($laptop-break-lrg) {
            padding: 0 $col-vw;
        }
        @include breakpoint ($mobile-break) {
            padding-bottom: 0;
        }
        .ct-code-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            article {

                &:nth-child(n+2) {
                    .lb-box-left {
                        &:before {
                            display: none;
                        }
                    }
                }
                width: calc(100% / 3 - #{$col-vw / 4});

                @include breakpoint ($mobile-break) {
                    width: 100%;
                    
                    &:not(:last-of-type) {
                        padding-bottom: $col-vw !important;
                    }
                }

                .post-image {
                    .lb-box-left {
                        padding: 0 !important;

                        &:before {
                            width: 100% !important;
                            height: 100% !important;
                            left: -$col-vw / 4 !important;
                            top: -$col-vw / 4 !important;
                            background-color: $color3;

                            @include breakpoint ($tablet-break) {
                                left: -$col-vw / 2 !important;
                                top: -$col-vw / 2 !important;
                            }
                        }
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .post-content {
                    .content {
                        display: inline-block;
                        overflow: hidden;
                    }

                    @include breakpoint ($mobile-break) {
                        padding: 0 !important;
                    }
                    img {
                        margin-top: 0.5rem;
                        max-height: 1rem;

                        @include breakpoint ($mobile-break) {
                            max-height: 1.5rem !important;
                        }
                    }
                    h4 {
                        color: $black;
                        @include font-size(27px, 22px, 22px, 19.6px);
                        margin: 1rem 0;
                        font-weight: 500 !important;
                    }
                    .buttons-press-wrapper {
                        text-align: right;
                        margin-top: 1rem;
                        position: relative;
                    }
                    .buttons {
                        display: inline;
                        text-align: right;
                        clear: both;
                        line-height: inherit;
                        .button {
                            @include font-size (18px, 16px, 16px, 16px);

                            &:nth-child(2) {
                                margin-left: 2rem;
                            }

                            &:before,
                            &:after {
                                height: 2px;
                            }
                        }
                    }
                    .read-more-inline {
                        display: inline-block;
                        color: $black;
                        font-weight: 600;
                        position: relative;
                        padding: 0 .5em;
                        margin-left: -.5em;
                        margin-right: -.5em;
                        transition: $transition;
                        padding-right: 1rem;

                        &:after {
                            content: "";
                            width: 0.75rem;
                            height: 0.5rem;
                            background: url(/wp-content/uploads/2019/06/More.svg);
                            position: absolute;
                            background-size: cover !important;
                            background-position: center !important;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            transition: 0.25s ease-in-out;
                        }

                        &:hover {
                            &::after {
                                transform: translate(5px, -50%);
                            }
                        }

                        &.close {
                            &:after {
                                transform: translateY(-50%) rotate(180deg);
                            }
                            &:hover {
                                &::after {
                                    transform: translate(5px, -50%) rotate(180deg);
                                }
                            }
                        }
                    }

                    .content {
                        &.truncate-ready {}
                        &.truncate-initialized {
                            p {
                                white-space: pre-line;
                            }
                        }
                    }
                    .press {
                        display: inline;
                        margin-left: 2rem;
                        .button-container {
                            display: inline;
                            .btn {
                                @include font-size (18px, 16px, 16px, 16px);
                                border-top: none !important;
                                text-align: right;
                                padding-left: 0 !important;
                                margin: 0;
                                padding-right: 1rem;

                                &:after {
                                    width: 0.75rem;
                                    height: 0.5rem;
                                    transform: translateY(-50%);
                                }

                                &:hover {
                                    &::after {
                                        transform: translate(5px, -50%);
                                    }
                                }

                                &.active {
                                    &:after {
                                        transform: translateY(-50%) rotate(180deg);
                                    }
                                    &:hover {
                                        &::after {
                                            transform: translate(5px, -50%) rotate(180deg);
                                        }
                                    }
                                }
                            }
                        }
                        .hidden-content {
                            position: absolute;
                            top: 100%;
                            width: 100%;
                            background-color: $gray;
                            text-align: left;
                            margin-top: 0.5rem;
                            z-index: 1;

                            a {
                                // display: flex;
                                display: inline-block;
                                color: $color-p;
                                padding: 0.5rem;
                                transition: $transition;

                                &:first-child {
                                    padding-top: 0.5rem;
                                }

                                &:last-child {
                                    padding-bottom: 0.5rem;
                                }

                                &:hover {
                                    background-color: $color3;
                                }
                            }
                        }
                    }
                }

                &:first-child {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: 0 !important;
                    padding-bottom: $col-vw / 4;
                    
                    @include breakpoint ($mobile-break) {
                        padding-bottom: 0;
                    }

                    .post-image {
                        width: 50%;

                        @include breakpoint ($tablet-break) {
                            width: 100%;
                        }
                    }

                    .post-content {
                        width: 50%;
                        padding-left: $col-vw / 1.5;

                        @include breakpoint ($laptop-break-lrg) {
                            padding-left: $col-vw / 4;
                        }

                        @include breakpoint ($tablet-break) {
                            width: 100%;
                            padding-left: 0;
                            padding: $col-vw / 2 0 $col-vw / 2 0;
                        }

                        img {
                            margin-top: 0;
                            max-height: 3rem;

                            @include breakpoint ($mobile-break) {
                                margin-top: 1rem;
                                max-height: 3rem !important;
                            }
                        }

                        h4 {
                            @include font-size(37px, 30px, 30px, 30px);
                        }
                    }
                }
                &:nth-child(4) {
                    .post-content {
                        img {
                            max-height: 1.5rem;

                            @include breakpoint ($mobile-break) {
                                max-height: 3rem !important;
                            }
                        }
                        h4 {
                            margin-top: 0.5rem;

                            @include breakpoint ($mobile-break) {
                                margin-top: 1rem;
                            }
                        }
                    }
                }
                .sharedaddy {
                    display: none;
                }
            }
            .view-more {
                width: 100%;
                margin-left: auto;
                margin-top: $col-vw / 2;
                text-align: right;
            }
        }
    }
}

#ct_section_314_post_1615 {
    #ct_code_block_313_post_1615 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: $col-vw / 3;

        @include breakpoint($mobile-break) {
            display: block;
        }
        article {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .source-wrapper {
                display: flex;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                    margin-right: 0.5rem;
                }
                .source {
                    font-weight: 700;
                }
            }
            .date {
                margin-top: 0.2rem;
            }
            .title {
                font-family: $secondary !important;
                color: $black;
                margin-top: 1rem;
                margin-bottom: 0;
                font-weight: 500 !important;
                @include font-size (20px, 18px, 18px, 16px);
                ;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            @include breakpoint($mobile-break) {
                display: block;

                &:not(:last-child) {
                    margin-bottom: $col-vw;
                }
            }
        }
    }
}

.lity {
    .lity-wrap {
        width: 100%;
        padding: 0 $col * 2.5;

        @include breakpoint ($laptop-break-lrg) {
            padding: 0 $col * 2;
        }

        @include breakpoint ($tablet-break) {
            padding: 0 $col;
        }

        .lity-container {
            width: 100%;
        }
    }
    &.lity-inline {
        .lity-close {
            position: absolute;
            font-family: initial;
            width: auto;
            height: auto;
            font-size: 4em;
            color: $color1;
            text-shadow: none;
            transition: $transition;
            top: 50px;
            right: 50px;

            @include breakpoint ($mobile-break) {
                top: 30px;
                right: 20px;
            }
        }
    }
}

#full-bio {
    .full-bio {
        background-color: #f7f7f7;
        display: flex;

        padding: 50px;

        @include breakpoint ($mobile-break) {
            padding: 30px 20px 30px 30px;
        }

        @include breakpoint ($tablet-break) {
            flex-wrap: wrap;
        }

        .image-col {
            padding-right: $col-vw / 2;

            @include breakpoint ($tablet-break) {
                padding-bottom: 1.5em;
            }
            z-index: 1;
            .img {
                width: 9.58333vw;
                height: 9.58333vw;
                background-size: cover !important;
                background-position: center !important;
                position: relative;
                border-radius: 100%;

                @include breakpoint ($laptop-break) {
                    width: 10.41667vw;
                    height: 10.41667vw;
                }

                @include breakpoint ($tablet-break) {
                    width: 17.91667vw;
                    height: 17.91667vw;
                }

                @include breakpoint ($mobile-break) {
                    width: 37.5vw;
                    height: 37.5vw;
                }

                &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: #EBBAB9;
                    position: absolute;
                    right: -0.5rem;
                    top: -0.5rem;
                    border-radius: 100%;
                    z-index: -1;
                }
            }
        }
        .text-col {


            .text-1 {
                p {
                    &:first-child {
                        @include font-size(22.5px, 18px, 18px, 16px);
                    }
                    &:nth-child(3) {
                        font-weight: 600 !important;
                    }
                }
            }

            .text-2 {
                padding-right: $col-vw / 4;
                max-height: 450px;
                overflow-y: auto;

                @media screen and (max-width: 1024px) and (orientation: landscape) {
                    max-height: 300px;
                }

                @include breakpoint ($mobile-break) {
                    max-height: 300px;
                }

                &::-webkit-scrollbar {
                    width: 10px;
                }
                &::-webkit-scrollbar-track {
                    // background: transparentize($color1, .7);
                    background: $white;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $color3;
                    border-radius: 3px;
                }
            }
        }
    }
    &:focus {
        outline: none;
    }
}

#ct_section_272_post_1615 {
    .ct-columns {
        .ct-column {
            @include breakpoint ($tablet-break) {
                width: 50% !important;

                .read-more {
                    color: $white;
                }
            }
            @include breakpoint ($mobile-break) {
                width: 100% !important;
            }
            &:first-child {
                padding-right: $col-vw / 1.5;

                @include breakpoint ($mobile-break) {
                    padding-right: 0;
                    padding-bottom: $col-vw;
                }

                .lb-box-right {
                    padding-top: $col-vw / 8 !important;
                    padding-right: $col-vw / 8 !important;

                    @include breakpoint ($tablet-break) {
                        padding-top: $col-vw / 4 !important;
                        padding-right: $col-vw / 4 !important;
                    }

                    @include breakpoint ($mobile-break) {
                        padding-top: $col-vw / 2 !important;
                        padding-right: $col-vw / 2 !important;
                    }
                    &::before {
                        width: calc(100% - #{$col-vw / 8});
                        height: calc(100% - #{$col-vw / 8});
                        left: $col-vw / 8;
                    }
                }
            }
            &:last-child {
                .ct-code-block {
                    &:first-child {
                        p {
                            &:first-child {
                                @include font-size(22.5px, 18px, 18px, 16px);
                            }
                            &:nth-child(3) {
                                font-weight: 600 !important;
                            }
                        }
                    }
                }
                .button-wrapper {
                    text-align: right;
                    margin-top: 1.5em;
                    width: 100%;
                    display: inline-block;
                    .button {
                        color: $white !important;
                    }
                }
            }
        }
    }
} // Our Projects
.our-projects {
    h2 {
        @include font-size(37px, 32px, 32px, 19.6px);
    }
    &.square-roots {
        .ct-section-inner-wrap {
            padding-left: $col-vw;
            padding-right: $col-vw * 1.5;

            @include breakpoint ($tablet-break) {
                padding-right: $col-vw;
                h1 {
                    &:before {
                        left: -$col-vw * 2;
                    }
                }
            }

            #ct_columns_187_post_1615 {
                padding-top: $col-vw / 2;

                @include breakpoint ($tablet-break) {
                    padding-top: $col-vw;
                }

                .ct-columns-inner-wrap {

                    @include breakpoint ($tablet-break) {
                        flex-wrap: wrap;
                    }

                    @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                        flex-wrap: nowrap;
                    }

                    .ct-column {
                        &:first-child {
                            width: calc(50% + #{$col-vw / 2});
                            img {
                                width: 100%;
                            }
                        }
                        @include breakpoint ($tablet-break) {
                            width: 100% !important;
                        }
                        @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                            &:first-child {
                                width: calc(50% + #{$col-vw / 2}) !important;
                            }
                        }

                        &:last-child {
                            padding-left: $col-vw / 1.5;

                            @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                width: 50% !important;
                                padding-left: $col-vw / 1.25 !important;
                                padding-top: 0 !important;
                            }

                            @include breakpoint ($laptop-break) {
                                padding-left: $col-vw / 1.25;

                                .ct-image {
                                    width: 43%;
                                }
                            }

                            @include breakpoint ($tablet-break) {
                                padding-left: 0;
                                padding-top: $col-vw / 2;

                                .ct-image {
                                    width: 30%;
                                }
                            }

                            @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                .ct-image {
                                    width: 50%;
                                }
                            }

                            @include breakpoint ($mobile-break) {
                                padding-top: $col-vw / 1.5;

                                .ct-image {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }

                h2#ct_headline_193_post_1615 {
                    padding-top: 1rem;

                    @include breakpoint ($mobile-break) {
                        padding-top: 1.5rem;
                        padding-bottom: 1rem;
                    }

                    &.lb-title-line {
                        &:before {
                            width: $col-vw * 1.2;
                            top: 50%;
                            left: -$col-vw * 1.5;

                            @include breakpoint ($tablet-break) {
                                display: none;
                            }
                        }
                    }
                }

                div#ct_code_block_192_post_1615 {
                    padding-top: $col-vw / 4;

                    @include breakpoint ($tablet-break) {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    &.delos {
        .ct-section-inner-wrap {
            padding-right: $col-vw;
            padding-left: $col-vw * 1.5;

            @include breakpoint ($tablet-break) {
                padding-left: $col-vw;
            }

            #ct_columns_215_post_1615 {
                .ct-columns-inner-wrap {

                    display: flex !important;

                    @include breakpoint ($tablet-break) {
                        flex-wrap: wrap;
                        flex-direction: column-reverse;
                    }

                    @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                        flex-wrap: nowrap !important;
                        flex-direction: initial !important;
                    }

                    .ct-column {
                        @include breakpoint ($tablet-break) {
                            width: 100% !important;
                        }
                        &:first-child {
                            padding-right: $col-vw / 1.5;

                            @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                width: 50% !important;
                                padding-right: $col-vw / 1.25 !important;
                                padding-top: 0 !important;
                            }

                            @include breakpoint ($laptop-break) {
                                padding-right: $col-vw / 1.25;

                                .ct-image {
                                    width: 20%;
                                }
                            }

                            @include breakpoint ($tablet-break) {
                                padding-right: 0;
                                padding-top: $col-vw / 2;

                                .ct-image {
                                    width: 12%;
                                }
                            }

                            @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                .ct-image {
                                    width: 22%;
                                }
                            }

                            @include breakpoint ($mobile-break) {
                                padding-top: $col-vw / 1.5;

                                .ct-image {
                                    width: 25%;
                                }
                            }

                            h2#ct_headline_218_post_1615 {
                                padding-top: 1rem;

                                @include breakpoint ($mobile-break) {
                                    padding-top: 1.5rem;
                                    padding-bottom: 1rem;
                                }

                                &.lb-title-line {
                                    &:before {
                                        width: $col-vw * 1.2;
                                        top: 50%;
                                        left: initial;
                                        right: -$col-vw * 1.5;

                                        @include breakpoint ($tablet-break) {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            div#ct_code_block_219_post_1615 {
                                padding-top: $col-vw / 4;

                                @include breakpoint ($tablet-break) {
                                    padding-top: 0;
                                }
                            }
                        }

                        &:last-child {
                            width: calc(50% + #{$col-vw / 2});
                            img {
                                width: 100%;
                            }

                            @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                width: calc(50% + #{$col-vw / 2}) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.media-section {
    .ct-section-inner-wrap {
        #ct_text_block_107_post_331 {
            font: $h4 !important;
            font-weight: 500 !important;
        }
    }
}

.well-being-media-section {
    .ct-section-inner-wrap {
        padding-right: $col-vw;

        .ct-code-block {
            width: 100%;
            .tabs {
                display: block;
                .tab-nav {
                    width: 100%;
                    padding-top: $col-vw / 4;

                    @include breakpoint ($tablet-break) {
                        padding-top: $col-vw / 2;
                    }
                    @include breakpoint ($mobile-break) {
                        padding-top: $col-vw;
                    }
                    ul {
                        flex-direction: row;

                        li {
                            margin-bottom: 0;
                            &:first-child {
                                margin-right: 3rem;

                                @include breakpoint ($mobile-break) {
                                    margin-bottom: 1rem;
                                }
                            }
                            a {
                                color: #000000 !important;
                                font-family: $primary; // @include font-size(27px, 24px, 24px, 21px);
                                @include font-size (22.5px, 20px, 20px, 17.5px);
                                font-weight: 700 !important;

                                &:before {
                                    width: 100%;
                                    right: 0;
                                    bottom: -10px;
                                    top: initial;
                                }
                            }
                        }
                    }
                }
                .tab-bodies {
                    width: 100%;
                    padding: 0;
                    margin: 0;

                    .tab-body {
                        .tab-body-inner {
                            align-items: flex-start;

                            .video-wrapper {
                                display: flex;
                                width: 100%;
                                padding-top: $col-vw / 3;

                                &:first-child {
                                    @include breakpoint ($tablet-break) {
                                        padding-top: $col-vw / 1.5;
                                    }
                                }

                                @include breakpoint ($tablet-break) {
                                    flex-wrap: wrap;
                                    padding-top: $col-vw / 2;
                                }

                                @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                    flex-wrap: nowrap !important;
                                }

                                .video {
                                    width: 50%;
                                    height: $col-vw * 2.5;
                                    padding-right: $col-vw / 4;
                                    transition: $transition;
                                    background-size: cover !important;
                                    background-position: center !important;

                                    @include breakpoint ($mobile-break) {
                                        width: 100%; // height: $col-vw * 5.2;
                                        height: auto;
                                        padding-right: 0;
                                    }

                                    @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                        height: $col-vw * 3;
                                    }

                                    .video-content-wrap {
                                        // display: flex;
                                        // height: inherit;
                                        // align-items: flex-end;
                                        // justify-content: flex-end;
                                        // background-size: cover !important;
                                        transition: $transition;
                                        height: 0;
                                        padding-bottom: 56.25%;
                                        position: relative;
                                        overflow: hidden;

                                        &:hover {
                                            transform: scale(1.01);

                                            .play-button-wrap {
                                                svg {
                                                    path.b {
                                                        fill: $color2 !important;
                                                    }
                                                }
                                            }
                                        }

                                        >img {
                                            position: absolute;
                                            top: 0;
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                        }

                                        .play-button-wrap {
                                            position: absolute;
                                            bottom: 0;
                                            right: 0;
                                            display: flex;
                                            align-self: flex-end;
                                            height: 52px;

                                            svg {
                                                height: inherit;
                                                width: auto;

                                                path.b {
                                                    transition: $transition;
                                                }
                                            }
                                        }
                                    }
                                }
                                .video-text-wrap {
                                    width: 50%;
                                    padding-left: $col-vw / 4;

                                    @include breakpoint ($mobile-break) {
                                        width: 100%;
                                        padding-top: $col-vw / 2;
                                        padding-left: 0;
                                    }

                                    @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                        padding-top: 0 !important;
                                        padding-left: $col-vw / 2 !important;
                                    }

                                    h4 {
                                        @include font-size(27px, 22px, 22px, 19.6px);
                                        font-weight: 500 !important;
                                    }

                                    .date {
                                        margin: 1rem 0;
                                        font-weight: 600;
                                    }

                                    ul {
                                        padding-left: 0;
                                        margin-top: 0;
                                        li {
                                            list-style: none;
                                            margin-bottom: 1.25rem;

                                            p {
                                                line-height: 1.25rem !important;
                                            }
                                        }
                                    }
                                }
                            }

                            .audio {
                                padding-right: $col-vw / 2;
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;

                                @include breakpoint ($tablet-break) {
                                    padding-right: 0;
                                }

                                .opening-address {
                                    padding-top: $col-vw / 3;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    @include breakpoint ($tablet-break) {
                                        padding-top: $col-vw / 2;
                                        width: 100% !important;
                                    }

                                    @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                        width: 50% !important;
                                        padding-top: $col-vw / 2;
                                    }

                                    div {
                                        p {
                                            margin: 0.5rem 0;
                                            font-weight: 600 !important;
                                        }
                                        audio {
                                            &:focus {
                                                outline: none;
                                            }
                                        }
                                    }

                                    &:after {
                                        display: none;
                                    }

                                    &:first-of-type {
                                        @include breakpoint ($tablet-break) {
                                            padding-top: $col-vw / 1.5 !important;
                                        }
                                        @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                            padding-top: $col-vw / 2 !important;
                                        }
                                    }
                                    &:nth-of-type(odd) {
                                        padding-right: $col-vw / 4;

                                        @include breakpoint ($laptop-break) {
                                            padding-right: $col-vw / 3;
                                        }

                                        @include breakpoint ($tablet-break) {
                                            padding-right: 0;
                                        }
                                        @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                            padding-right: $col-vw / 4 !important;
                                        }

                                    }
                                    &:nth-of-type(even) {
                                        padding-right: 0;
                                        padding-left: $col-vw / 4;

                                        @include breakpoint ($laptop-break) {
                                            padding-left: $col-vw / 3;
                                        }

                                        @include breakpoint ($tablet-break) {
                                            padding-left: 0;
                                        }

                                        @media only screen and (min-width: 1000px) and (max-width: $tablet-break) and (orientation: landscape) {
                                            padding-left: $col-vw / 4 !important;
                                        }
                                    }
                                    >p {
                                        @include font-size (22px, 20px, 20px, 17.5px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
