/******************************************************************

Stylesheet: Mixins Stylesheet

******************************************************************/
/**********************
BUTTONS
**********************/
%btn {
    border-width: 0 !important;
    background: transparent !important;
    border-radius: 0 !important;
    // font-size: 1.5rem;
    font-family: $primary, $sans-serif;
    font-weight: 600 !important;
    padding: 0 !important;
    width: auto;
    position: relative;
    transition: $transition;

    &::before {
        content: '';
        display: block;
        width: 50%;
        height: $border-width;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: left center;
        transition: $transition-slow;
        transition-delay: 0.02s;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: $border-width;
        position: absolute;
        bottom: -5px;
        left: 0;
        transform: scaleX(1);
        transform-origin: right center;
        transition: $transition-slow;
    }

    &:hover {
        opacity: 1 !important;
        background-color: transparent !important;

        &::before {
            transform: scaleX(1);
        }

        &::after {
            transform: scaleX(0);
        }
    }
}

@mixin btn($btn-color-text, $btn-color-line) {
    @extend %btn;
    
    // @include breakpoint ($mobile-break) {
    //     font-size: 1.2rem;
    // }

    color: $btn-color-text;

    &::before {
        background-color: $btn-color-line;
    }

    &::after {
        background-color: $btn-color-line;
    }

    &:hover {
        &::after {
            background-color: $btn-color-line;
        }
    }
}

/**************************
RESPONSIVE RATIO
**************************/
@mixin ratio($x, $y, $pseudo: false) {
    $padding: unquote($y / $x * 100 + '%');

    @if $pseudo {
        &::before {
            @include pseudo($pos: relative);

            width: 100%;
            padding-top: $padding;
        }
    }
    @else {
        padding-top: $padding;
    }
}

/*************************
MEDIA QUERY (MQ)
*************************/
@import 'breakpoint';

/************************
CENTER DIV
************************/
@mixin center {
    margin: {
        left: auto;
        right: auto;
    };
}

@mixin heading-padding {
    &.top {
        // margin-top: $col-vw / 2;
        margin-top: $col-vw / 4;

        @include breakpoint($mobile-break) {
            margin-top: $col-vw;
        }
    }

    &.bottom {
        // margin-bottom: $col-vw / 2;
        margin-bottom: $col-vw / 4;

        @include breakpoint($mobile-break) {
            margin-bottom: $col-vw;
        }
    }
}

@mixin colors {
    &.color1 {
        color: $color1 !important;
    }

    &.color2 {
        color: $color2 !important;
    }

    &.color3 {
        color: $color3 !important;
    }

    &.color4 {
        color: $color4 !important;
    }

    &.white {
        color: $white !important;
    }

    &.black {
        color: $black !important;
    }
}

@mixin background-colors {
    &.color1 {
        background-color: $color1 !important;
    }

    &.color2 {
        background-color: $color2 !important;
    }

    &.color3 {
        background-color: $color3 !important;
    }

    &.color4 {
        background-color: $color4 !important;
    }

    &.white {
        background-color: $white !important;
    }

    &.black {
        background-color: $black !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        .ct-text-block {
            color: $white;
        }
    }
}

@mixin paddings {
    &.top {
        // @include padding-top($col-vw);
        @include padding-top(100px);
    }

    &.left {
        padding-left: $col-vw !important;
    }

    &.right {
        padding-right: $col-vw !important;
    }

    &.top-half {
        @include padding-top($col-vw / 2);
        @include padding-bottom($col-vw / 2);
    }
    
    &.bottom {
        // @include padding-bottom($col-vw);
        @include padding-bottom(100px);
    }

    &.bottom-half {
        @include padding-bottom($col-vw / 2);
    }

    &.left-half {
        padding-left: ($col-vw / 2) !important;

        @include breakpoint($tablet-break) {
            padding-left: $col-vw !important;
        }
    }

    &.right-half {
        padding-right: ($col-vw / 2) !important;

        @include breakpoint($tablet-break) {
            padding-right: $col-vw !important;
        }
    }
}

@mixin gutters {
    &.gutters {
        @include side-gutters;
    }
}

// gutter padding
@mixin side-gutters {
    padding-left: ($col-vw * 1.5) !important;
    padding-right: ($col-vw * 1.5) !important;

    @include breakpoint($laptop-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }


    @include breakpoint($tablet-break) {
        padding-left: ($col-vw * 1.5) !important;
        padding-right: ($col-vw * 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        padding-left: $col-vw !important;
        padding-right: $col-vw !important;
    }
}

// padding top
@mixin padding-top($pad) {
    padding-top: $pad !important;

    // @include breakpoint($tablet-break) {
    //     padding-top: $pad * 1.5;
    // }


    // @include breakpoint($mobile-break) {
    //     padding-top: $pad * 2;
    // }
    
        @include breakpoint($tablet-break) {
        padding-top: $pad / 1.5 !important;
    }


    @include breakpoint($mobile-break) {
        padding-top: $pad / 2 !important;
    }
}

// padding bottom
@mixin padding-bottom($pad) {
    padding-bottom: $pad !important;

    // @include breakpoint($tablet-break) {
    //     padding-bottom: $pad * 1.5;
    // }


    // @include breakpoint($mobile-break) {
    //     padding-bottom: $pad * 2;
    // }
    
        @include breakpoint($tablet-break) {
        padding-bottom: $pad / 1.5 !important;
    }


    @include breakpoint($mobile-break) {
        padding-bottom: $pad / 2 !important;
    }
}

// margin top
@mixin margin-top($margin) {
    margin-top: $margin !important;

    @include breakpoint($tablet-break) {
        margin-top: ($margin * 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        margin-top: ($margin * 2) !important;
    }
}

// margin bottom
@mixin margin-bottom($margin) {
    margin-bottom: $margin !important;

    @include breakpoint($tablet-break) {
        margin-bottom: ($margin * 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        margin-bottom: ($margin * 2) !important;
    }
}

@mixin font-size($desk, $lap, $tab, $mob) {
  font-size: $desk !important;
  
  @include breakpoint($laptop-break-lrg) {
    font-size: $lap !important;
  }

  @include breakpoint($laptop-break) {
    font-size: $lap !important;
  }

  @include breakpoint($tablet-break) {
    font-size: $tab !important;
  }

  @include breakpoint($mobile-break) {
    font-size: $mob !important;
  }
}

@mixin line-height($desk, $lap, $tab, $mob) {
  line-height: $desk !important;
  
  @include breakpoint($laptop-break-lrg) {
    line-height: $lap !important;
  }

  @include breakpoint($laptop-break) {
    line-height: $lap !important;
  }

  @include breakpoint($tablet-break) {
    line-height: $tab !important;
  }

  @include breakpoint($mobile-break) {
    line-height: $mob !important;
  }
}

/*********************************
SVG BACKGROUND IMAGE WITH FALLBACK
*********************************/
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size: false) {
    background-image: url('#{$image-path}/#{$name}.svg');

    @if $size {
        background-size: $size;
    }

    .no-svg & {
        background-image: url('#{$image-path}/#{$name}.#{$fallback-extension}');

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            background-image: url('#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension}');
        }
    }
}

/* USAGE
.lb_div {
    @include background-image('bg');
}
** must have bg.svg, bg.png & bg@2x.png
*/