/******************************************************************

Stylesheet: Typography

******************************************************************/

/*********************
FONT FACE
*********************/
// font stacks

$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'Georgia', Cambria, Times New Roman, Times, serif;
$primary: 'Montserrat';
$secondary: 'Catamaran';

// theme fonts

$heading-font: 80px $primary, $sans-serif;
$body-font: 500 1rem / 1.5em $secondary, $sans-serif;

$h1: 600 3.5rem / 1.2em $primary, $sans-serif;
$h2: 500 3.5rem / 1.2em $primary, $sans-serif;
$h3: 500 2rem / 1.175em $primary, $sans-serif;
$h4: 500 1.25rem / 1.2em $primary, $sans-serif;
$h5: 500 1.25rem / 1.2em $primary, $sans-serif;
$h6: 600 1rem / 1.2em $secondary, $sans-serif;

$h2-real: 500 2.5rem / 1.25em $primary, $sans-serif;

// Setting universal font styles

h1 {
    font: $h1 !important;
}

h2 {
    font: $h2 !important;
}

h3 {
    font: $h3 !important;
}

h4 {
    font: $h4 !important;
}

h5 {
    font: $h5 !important;
}

h6 {
    font: $h6 !important;
}

p,
.ct-text-block {
    font: $body-font !important;
    -ms-word-wrap: break-word;
    word-break: break-word;

    //non-standart css for webkit
    word-wrap: break-word;

    // cleaning up the ragged lines and breaks
    // -webkit-hyphens: auto;
    // -moz-hyphens: auto;
    // hyphens: auto;

    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3;

    // enabling fancy ligatures when available
    //   -webkit-font-feature-settings: 'liga', 'dlig';
    //    -moz-font-feature-settings: 'liga=1, dlig=1';
    //       -ms-font-feature-settings: 'liga', 'dlig';
    //        -o-font-feature-settings: 'liga', 'dlig';
    //           font-feature-settings: 'kern' 1, 'dlig' 1;

    // @media screen and (max-width: 600px) {
    //     line-height: 1.7rem !important;
    // }
}