/******************************************************************

Stylesheet: Variables

******************************************************************/

/* Colours */

$color1: #EBBAB9; //Pink
$color2: #000501; //Dark gray
$color3: #E5E5E5; //Medium gray
$color4: #E5E5E5;

// $color5: #eff1f3;
$color-hover: $color1;
$color-active: $color1;

$color-p: $color2;

// $text-gray: #a4a3a6;
$white: #FFFFFF;
$gray: #EFF1F3;
$black: #000501;

/* Spacing / Padding */

$col: 100% / 12;
$col-vw: 100vw / 12;

$transition: 0.25s ease-in-out;
$transition-slow: 0.45s cubic-bezier(0.44, 0.01, 0.25, 0.98);

// border thickness
$border-width: 4px;

$menu-item-num: 8;

// common device break points
$desktop-break: 1920px;
$laptop-break-lrg: 1700px;
$laptop-break: 1440px;
$tablet-break: 1024px;
$tablet-break-sml: 768px;
$mobile-break: 600px;
$mobile-break-sml: 340px;