/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Buttons Styles

******************************************************************/

// to edit buttons go to _mixins.scss 
.button {
  @include btn($color-p, $color1);

  &.white {
    @include btn($white, $white);
  }

  &.top {
    margin-top: 2rem;
  }
}

// PRIVACY POLICY POPUP
#cookie-notice {
  background-color: $black !important;
}

#cookie-notice .cookie-notice-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.8em;
  font-size: 16px;
  text-align: left;

  span {
    color: $white;
  }

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    display: block;
  }
  @include breakpoint ($mobile-break) {
    display: block;
  }
}

#cookie-notice .cn-text-container {
  font: $body-font !important;
  color: $black;
  margin: 0;

  @media only screen and (max-width: 768px) and (orientation: portrait) {
    margin-bottom: 1em;
  }
  @include breakpoint ($mobile-break) {
    margin-bottom: 1em;
  }
}

.cn-revoke-cookie {
    &:hover {
      box-shadow: none;
    }
  }

.cn-button:not(.cn-revoke-cookie), .cn-text-container a {
  @include btn($white, $color1);
  font: $body-font;
  display: inline-block;
  
  &#cn-refuse-cookie {
    font-weight: normal !important;
    padding-left: 10px !important;
    
    &::before, &::after {
      display: none;
    }
  }
  
  &::before, &::after {
    height: 2px;
    bottom: 0;
  }

  &:first-child {
    @media only screen and (max-width: 768px) and (orientation: portrait) {
      margin-left: 0 !important;
    }
    @include breakpoint ($mobile-break) {
      margin-left: 0 !important;
    }
  }
}

.cn-close-icon {
  display: none;
}
