/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Contact Row Styles

******************************************************************/

.lb-row-contact {
    background: $white;
    padding: $col-vw 0;

    .ct-columns-inner-wrap {
        display: flex !important;
        flex-wrap: wrap;

        .ct-column {
            width: ($col * 6) !important;

            @include breakpoint($tablet-break) {
                width: 100% !important;
            }


            &:first-child {
                padding-bottom: $col-vw;
                
                @include breakpoint($tablet-break) {
                    padding-bottom: 0;
                }
            }
        }
    }

    .ct-headline {
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    a {
        color: $color-p;
        font-size: 1.25rem !important;
        text-decoration: none;
        overflow: hidden;
        display: inline-block;
        padding-bottom: 3px;
        position: relative;
        font-weight: 600 !important;
        transition: $transition-slow;

        &:before {
            content: '';
            width: 30%;
            height: 2px;
            display: block;
            background-color: $color1;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            transition: $transition-slow;
        }

        &:hover {
 

            &:before {
                transform: translateX(0);
            }
        }
    }

    .lb-bottom {
        @include breakpoint($mobile-break) {
            display: none !important;
        }


        .ct-column {
            padding-top: $col-vw;
            text-align: center;
            width: 100% !important;

            .ct-text-block {
                display: inline-block;
                position: relative;

                &:before {
                    content: '';
                    width: 30px;
                    height: $border-width;
                    position: absolute;
                    bottom: 0;
                    background-color: $color1;
                    opacity: .5;
                    left: calc(-1em - 30px);
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:after {
                    content: '';
                    width: 30px;
                    height: $border-width;
                    position: absolute;
                    bottom: 0;
                    background-color: $color1;
                    opacity: .5;
                    right: calc(-1em - 30px);
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}