/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Cookie Bar Styles

******************************************************************/

// #eu-cookie-bar {
// 	background-color: rgba(0, 0, 0, 0.8);
// 	button {
// 		background-color: $black;
// 		border-radius: 0;
// 	}
// }
// .lb-row-cookies {
// 	padding-bottom: $col-vw;
// 	background-color: $white;
// }
// cookieconsent.js
.cc-revoke {
  font-family: inherit !important;
  display: none !important;
  transform: translateY(100%);
}

.cc-window {
  font-family: inherit !important;
  background: $white;
  box-shadow: 0 3px 6px rgba($black, .16);
}

.cc-floating .cc-compliance {
  justify-content: flex-end;

  >.cc-btn {
    flex: 0 !important;
  }
}

.cc-message {
  a {
    color: $color-p;
    font-weight: 700;
  }
}

.cc-btn {
  @include btn($color-p, $color1);
  padding-left: 0;
  padding-right: 0;
  margin-left: 1.5rem;

  &:hover {
    text-decoration: none !important;
  }

  &.cc-deny {
    order: 2;
    font-weight: normal !important;

    &::before,
    &::after {
      content: none;
    }
  }
}
