/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Evolution Row Styles

******************************************************************/

.lb-row-evolution {
    background-color: $color3;
    padding: 100px 0;
    
        @include breakpoint($tablet-break) {
        padding: calc(100px / 1.5) 0;
    }


    @include breakpoint($mobile-break) {
        padding: calc(100px / 2) 0;
    }


    .ct-section-inner-wrap {
        @include breakpoint(700px, 1440px) {
            max-width: 50%;
        }
    }

    .ct-column {
        width: ($col-vw * 4) !important;

        @include breakpoint($tablet-break) {
            width: ($col-vw * 6) !important;
        }
        
        @include breakpoint($tablet-break-sml) {
            width: ($col-vw * 7) !important;
        }


        @include breakpoint($mobile-break) {
            width: 100% !important;
        }
        
        h2 {
            margin-bottom: 0;
        }
        
        > .ct-div-block {
            margin-top: $col-vw / 3;
            display: flex;
            
            @include breakpoint ($mobile-break) {
                flex-wrap: wrap;
                margin-top: 0;
            }
            
            .ct-text-block {
                margin-right: $col-vw / 2;
                
                @include breakpoint($mobile-break) {
                    margin-right: $col-vw * 2.5;
                }
            }
        }
        
        // Original
        a {
            &.ct-link-text {
                color: $color-p;
                font: $body-font;
                font-weight: 600 !important;
                // margin-top: $col-vw / 3;
                position: relative;
                overflow: hidden;
                display: inline-block;
                padding-bottom: 3px;
                transition: $transition-slow;

                &::before {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: $color1;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(-100%);
                    transition: $transition-slow;
                }

                &:hover {
                    &::before {
                        transform: translateX(0);
                    }
                }

                // @include breakpoint($tablet-break) {
                //     margin-top: $col-vw / 2;
                //     margin-left: $col-vw * 1.5;
                // }


                @include breakpoint($mobile-break) {
                    margin-top: $col-vw / 1.5;
                    margin-left: 0;
                }
            }
        }
        
        // Changed
        .ct-text-block {
            color: $color-p;
            font: $body-font;
            font-weight: 600 !important;
            // margin-top: $col-vw / 3;
            position: relative;
            overflow: hidden;
            display: inline-block;
            padding-bottom: 3px;
            transition: $transition-slow;

            @include breakpoint($tablet-break) {
                // margin-top: $col-vw / 2;
                margin-left: $col-vw * 1.5;
            }


            @include breakpoint($mobile-break) {
                margin-top: $col-vw / 1.5;
                margin-left: 0;
            }
        }
    }
}

#ct_text_block_9_post_30 {
    display: block;
    // margin-top: 1rem !important;

    span {
        color: $color1;
    }
}
