/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Extra Lines styles needed here and there (usually titles)

******************************************************************/

// Header title line
.lb-title-line {
    position: relative;
    padding-bottom: 0.5em;

    &::before {
        content: '';
        width: $col-vw * 1.5;
        height: $border-width;
        position: absolute;
        bottom: 0;
        background-color: $color2;

        @include breakpoint($mobile-break) {
            width: $col-vw * 2;
        }
    }

    &.left {
        &::before {
            left: 0;
            right: initial;
        }
    }

    &.right {
        &::before {
            right: 0;
            left: initial;
        }
    }

    &.white {
        &::before {
            background-color: $white;
        }
    }

    &.pink {
        &::before {
            background-color: $color1;
        }
    }
}

.lb-quote-line {
    // This is used a lot for titles just fyi
    position: relative;

    &::before {
        content: '';
        width: $col-vw / 2;
        height: $border-width;
        position: absolute;
        top: 0.475em;
        left: -$col-vw;
        background-color: $color1;

        @include breakpoint($tablet-break) {
            width: $col-vw * 1;
        }


        // @include breakpoint($mobile-break) {
        //     display: none;
        // }
    }

    &.right {
        @include breakpoint($tablet-break) {
            padding-right: $col-vw * 1.5;
        }


        @include breakpoint($mobile-break) {
            padding-right: $col-vw * 2;
        }


        &::before {
            right: -$col-vw;
            left: initial;

            @include breakpoint($tablet-break) {
                right: 0;
            }
            
            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }

    &.left {
        @include breakpoint($tablet-break) {
            padding-left: $col-vw * 1.5;
        }


        @include breakpoint($mobile-break) {
            padding-left: $col-vw * 2;
        }


        @include breakpoint($mobile-break) {
            padding-left: 0;
        }

        &::before {
            left: -$col-vw;
            right: initial;

            @include breakpoint($tablet-break) {
                left: 0;
            }
            
            @include breakpoint($mobile-break) {
                display: none;
            }
        }
    }
}

.lb-title-number {
    position: relative;


    &::before {
        content: '01';
        position: absolute;
        text-align: right;
        font-size: 1.5em;
        font-weight: 400 !important;
        left: -$col-vw;
        color: $color1;
        top: calc(-0.25em / 2);

        @include breakpoint($tablet-break) {
            font-size: 1em;
        }


        @include breakpoint($mobile-break) {
            top: 0;
            left: 0;
        }
    }

    &.right {
        &::before {
            right: -$col-vw;
            left: initial;

            @include breakpoint($tablet-break) {
                right: calc(-#{$col-vw} - 0.5em);
                top: initial;
            }


            @include breakpoint($mobile-break) {
                right: 0;
                top: 0;
            }
        }
    }

    &.left {
        &::before {
            left: -$col-vw;
            right: initial;

            @include breakpoint($tablet-break) {
                left: calc(-#{$col-vw} - 0.5em);
                top: initial;
            }


            @include breakpoint($mobile-break) {
                left: 0;
                top: 0;
            }
        }
    }

    &.one {
        &::before {
            content: '01';
        }
    }

    &.two {
        &::before {
            content: '02';
        }
    }

    &.three {
        &::before {
            content: '03';
        }
    }
}