/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Global Footer Styles

******************************************************************/

.lb-footer {
    background: $color2;
    padding: $col-vw / 4 0;

    @include breakpoint($tablet-break) {
        padding: $col-vw / 2;
    }


    @include breakpoint($mobile-break) {
        padding: $col-vw / 1.5;
    }


    .ct-text-block {
        span {
            color: $white;
        }
    }

    #ct_code_block_3_post_90 {
        position: absolute;
        float: right;
        right: 20px;
        // transform: translateY(-3px);
        a {
            display: flex;
            opacity: 0.4;
            transition: $transition;
            height: 1.5em;

            &:hover {
                opacity: 0.8;
            }

            img {
                height: auto;
            }
        }
    }
}
