/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Gravity Form Styles

For universal gravity forms style overrides. For individual page form overrides please use the specific page SCSS file.

This is not an exhaustive list. 
For other GF CSS classes, go here: https://www.gravityhelp.com/documentation/article/css-targeting-samples/

******************************************************************/

/*********************
GRAVITY FORM UNIVERSAL STYLES
*********************/

body .gform_wrapper {
    li.gfield {

        input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
        textarea {
            border: none;
            margin-top: 0;
            transition: $transition;
            border-radius: 0 !important;
            background: $white;
            box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.2);
            // box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
            -webkit-appearance: none;
            padding: 10px 15px;
            margin: 0;

            @include breakpoint (1550px) {
                margin-top: 0;
            }

            @include breakpoint($mobile-break) {
                margin-top: calc(1rem / 2);
            }


            &:focus {
                outline: none;
            }
        }

        .gfield_required {
            display: none;
        }
    }

    .gform_footer {
        text-align: right;

        @include breakpoint($mobile-break) {
            padding-top: 0 !important;
        }
    }

    &.gform_validation_error {
        .validation_error {
            background-color: transparent !important;
            border: none !important;
        }

        .gfield_error {
            background-color: transparent !important;
            border: none !important;
        }

        #field_1_1.gfield_error {
            margin-top: 0 !important;

            label {
                color: #790000;
            }
        }
    }
}

/*********************
ACTIVE STATES
*********************/

// spacing out the password
input[type="password"] {
    letter-spacing: 0.3em;
}
