/******************************************************************

Site Name: Humanity 2.0
Author: PW

Stylesheet: Form Popup Styles

******************************************************************/

.form-popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.78);

    .form-popup-inner {
        width: $col-vw * 9;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $color3;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: ($col-vw / 2) $col-vw;
        box-shadow: -10px 10px 0px $color1;

        @include breakpoint($mobile-break) {
            width: 90vw;
        }
        
        h3 {
            margin-bottom: $col-vw / 4;
        }


        .gform_wrapper {
            h3.gform_title {
                text-align: center !important;
                font-size: 2em !important;
                font-weight: 600 !important;
                margin-bottom: ($col-vw / 4) !important;
                margin-left: (-$col-vw / 4) !important;

                &::before {
                    content: '';
                    width: $col-vw / 2;
                    height: 4px;
                    background-color: $color1;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: $col-vw / 4.2;
                }
            }

            .gform_fields {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .gfield {
                    flex-basis: 50%;
                    margin-top: 0 !important;

                    @include breakpoint(600px) {
                        flex-basis: 47%;
                    }


                    &:last-child {
                        flex-grow: 1;
                    }

                    .ginput_container {
                        margin-top: 16px !important;

                        @include breakpoint(600px) {
                            margin-top: 8px !important;
                        }
                    }

                    .name_first {
                        padding-top: 0 !important;
                    }

                    .gfield_label,
                    .name_first > label {
                        display: none;
                    }

                    input,
                    textarea {
                        border-bottom: none !important;
                        margin-top: 0 !important;
                        padding: 12px !important;

                        @include breakpoint(600px) {
                            padding: 8px !important;
                        }
                    }

                    body .gform_wrapper li.gfield .ginput_container input[type=text], body .gform_wrapper li.gfield textarea {
                        @include breakpoint(600px) {
                            padding-top: 8px !important;
                        }
                    }
                }
            }

            .gform_footer {
                text-align: center !important;

                input[type=submit] {
                    font-size: 1.2em;
                }
            }
        }

        .popup-close {
            width: 30px;
            height: 30px;
            padding-top: 3px;
            padding-left: 1px;
            opacity: 0.4;
            display: inline-block;
            position: absolute;
            top: $col-vw / 4;
            right: $col-vw / 4;
            transition: 0.28s ease;
            -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
            border: 1px solid $color2;
            border-radius: 100px;
            text-decoration: none;
            color: $color2;
            font-family: $primary;
            font-size: 23px;
            text-align: center;
            line-height: 85%;

            &:hover {
                opacity: 1;
            }

            @include breakpoint($mobile-break) {
                width: 20px;
                height: 20px;
                padding-left: 0;
                top: 25px;
                right: 25px;
                font-size: 13px;
            }
        }
    }
}