/*****************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Global Header

******************************************************************/

/*********************
Header
*********************/

.lb-header {
    position: fixed;
    width: 100%;
    z-index: 100;

    .lb-menu-wrapper {
        position: relative;

        .lb-menu-button {
            width: 40px;
            height: 40px;
            position: absolute;
            top: $col-vw / 2;
            left: $col-vw / 2;
            z-index: 10;
            cursor: pointer;

            @include breakpoint($mobile-break) {
                top: $col-vw;
                left: $col-vw;
            }


            /*
                        &::before {
                            content: '';
                            display:block;
                            width:50px;
                            height: 50px;
                            position: absolute;
                            background-color: $color2;
                            border-radius: 100px;
                            top: -15px;
                z-index: -100;
                left: -13px;
                transition: $transition;
                        }
            */
            div {
                background-color: $color1;
                width: 26px;
                height: 2px;
                transition: $transition;
                animation: blink 2.2s cubic-bezier(0.44, 0.01, 0.25, 0.98) infinite;

                @keyframes blink {
                    0% {
                        background-color: $color1;
                    }

                    50% {
                        background-color: $color2;
                    }

                    100% {
                        background-color: $color1;
                    }
                }

                &:nth-child(1) {
                    margin-bottom: 7px;
                    transform-origin: left center;
                    transform: scaleX(0.8);
                }

                &:nth-child(2) {
                    opacity: 1;
                }

                &:nth-child(3) {
                    margin-top: 7px;
                    transform-origin: left center;
                    transform: scaleX(0.8);
                }
            }

            &:hover {
                div {
                    animation: none;

                    &:nth-child(1) {
                        transform: scaleX(1);
                    }

                    &:nth-child(3) {
                        transform: scaleX(1);
                    }
                }

                &::before {
                    background-color: #000501ba;
                    transition: $transition;
                }
            }
        }

        .lb-menu {
            position: absolute;
            left: 0;
            top: 0;
            padding-top: calc(#{$col-vw} - 2rem);
            padding-left: $col-vw / 2;
            width: 100%;
            background-color: transparentize($color2, 0.08);
            transform: translateY(-100%);
            transition: $transition-slow;

            @include breakpoint($mobile-break) {
                padding-top: $col-vw * 1.5;
                padding-left: $col-vw;
            }

            .social-buttons {
                padding-bottom: 2rem;
                opacity: 0;
                transform: translateY(1rem);
                transition: 0.25s ease-in-out;
                transition-delay: 0.9s;
                display: flex;
                align-items: center;
                a {
                    &:first-child {
                        margin-left: -0.3rem;
                        margin-right: 1rem;
                    }
                    &:last-child {
                        height: 2.2rem;
                    }
                    svg {
                        width: 1.7rem;
                        height: 2rem;

                        &:hover {
                            path {
                                fill: $color1;
                            }
                        }
                        path {
                            transition: $transition;
                        }
                    }
                }
            }


            .lb-menu-wrapper {
                padding: 2rem 0 1rem 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                @for $i from 1 through $menu-item-num {
                    li {
                        &:nth-child(#{$i}) {
                            transition-delay: calc(#{$i / 10}s + 0.25s) !important;
                        }
                    }
                }

                li {
                    list-style: none !important;
                    opacity: 0;
                    width: auto !important;
                    display: inline-block;
                    transform: translateY(1rem);
                    transition: $transition-slow; // &.menu-item-has-children {
                    //     &.active {
                    //         >a {
                    //             color: $color1;
                    //             &::after {
                    //                 content: '';
                    //                 width: 50px;
                    //                 transform: scaleX(1);
                    //                 height: 3px;
                    //                 background-color: $color1;
                    //                 position: absolute;
                    //                 top: 50%;
                    //                 right: calc(-50px - 1em);
                    //                 color: $color1;
                    //                 transition: $transition-slow;
                    //             }
                    //         }
                    //     }
                    // }
                    .sub-menu {
                        display: none;
                        flex-direction: column; // transform: translateY(-50px);
                        // transition: $transition;
                        li {
                            display: block; // transform: translateY(0px);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 1.5rem;
                        font-family: $secondary, $sans-serif;
                        line-height: 2.25em;
                        position: relative;
                        transition: $transition-slow;
                    }

                    &.menu-item-has-children {
                        >a {
                            &:before {
                                content: '';
                                position: absolute;
                                background-image: url('/wp-content/uploads/2021/11/Vector-3-1.svg');
                                background-repeat: no-repeat;
                                width: 19px;
                                height: 12px;
                                top: calc(50% - 6px);
                                right: -2rem;
                                transition: $transition-slow;
                                opacity: 0;
                            }
                            
                            &:after {
                                content: '';
                                position: absolute;
                                background-image: url('/wp-content/uploads/2021/11/Vector-3.svg');
                                background-repeat: no-repeat;
                                width: 19px;
                                height: 12px;
                                top: calc(50% - 6px);
                                right: -2rem;
                                transition: $transition-slow;
                            }

                            &:hover {
                                color: $color1;
                                
                                &:before {
                                    opacity:1;
                                }
                                
                                &:after {
                                    opacity: 0;
                                }
                            }
                        }

                        &.active {
                            >a {
                                color: $color1;
                                
                                &:before {
                                    transform: rotate(180deg);
                                    opacity: 1;
                                }
                                
                                &:after {
                                    opacity: 0;
                                }
                            }
                        }
                    }

                    &:not(.menu-item-has-children) {
                        a {
                            &::after {
                                content: '';
                                width: 50px;
                                height: 3px;
                                background-color: $color1;
                                position: absolute;
                                top: 50%;
                                right: calc(-50px - 1em);
                                transform: scaleX(0);
                                transform-origin: left;
                                transition: $transition-slow;
                            }

                            &:hover {
                                color: $color1;

                                &::after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: $color1;

                            &:hover {
                                &::after {
                                    transform: scaleX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.active {
        .lb-menu {
            transform: translateY(0);

            li {
                opacity: 1 !important;
                transform: translateY(0) !important;
            }
            .social-buttons {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .lb-menu-button {
            div {
                background-color: $white;

                &:nth-child(1) {
                    transform: scaleX(1) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: scaleX(1) rotate(-45deg);
                }
            }

            &:hover {
                div {
                    &:nth-child(1) {
                        transform: scaleX(1) rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: scaleX(1) rotate(-45deg);
                    }
                }
            }
        }
    }
}
