/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Images Box styles

******************************************************************/

.lb-box-right {
    position: relative !important;
    padding-top: ($col-vw / 3) !important;
    padding-right: ($col-vw / 3) !important;

    &::before {
        content: '';
        width: calc(100% - #{$col-vw / 3});
        height: calc(100% - #{$col-vw / 3});
        position: absolute;
        left: $col-vw / 3;
        top: 0;
        background-color: $color1;
    }

    img {
        width: 100%;
        position: relative;
    }
}

.lb-box-left {
    position: relative !important;
    padding-top: ($col-vw / 3) !important;
    padding-left: ($col-vw / 3) !important;

    &::before {
        content: '';
        width: calc(100% - #{$col-vw / 3});
        height: calc(100% - #{$col-vw / 3});
        position: absolute;
        right: $col-vw / 3;
        top: 0;
        background-color: $color1;
    }

    img {
        width: 100%;
        position: relative;
    }
}