/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Intro Row Styles

******************************************************************/

.lb-row-intro {
    background: $white; // padding: $col-vw 0;
    padding: $col-vw / 2 0;

    @include breakpoint($tablet-break) {
        // padding: ($col-vw * 2) 0 ($col-vw * 1);
        padding: ($col-vw * 1.5) 0 ($col-vw / 2);
    }


    @include breakpoint($mobile-break) {
        // padding: ($col-vw * 3) 0 ($col-vw * 2);
        padding: ($col-vw * 3) 0 $col-vw;
    }

    &.bg-color-1 {
        // padding: $col-vw / 2 0;
        // @include breakpoint($tablet-break) {
        //     padding: ($col-vw * 2) 0 ($col-vw * 1);
        // }


        // @include breakpoint($mobile-break) {
        //     padding: ($col-vw * 3) 0 ($col-vw * 2);
        // }
        
        &#ct_section_3_post_333 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    
        @include breakpoint($tablet-break) {
        padding: calc(100px / 1.5) 0 calc(100px / 1.5) !important;
    }


    @include breakpoint($mobile-break) {
        padding: calc(100px / 2) 0 calc(100px / 2) !important;
    }

    }
}
    .ct-section-inner-wrap {
        @include breakpoint($mobile-break) {
            padding-left: $col-vw;
            padding-right: $col-vw;
        }


        .lb-info {
            padding-top: $col-vw / 3;

            @include breakpoint($mobile-break) {
                padding-top: 0;
            }
        }
    }

    h1:not(.h1) {
        @include font-size (35px, 35px, 26px, 20px);
        font-weight: 500 !important;
        @include breakpoint($tablet-break) {
            &::before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .ct-text-block {
        &.lb-quote-line {
            @include font-size (35px, 35px, 20px, 18px);
        }
    }
}

.page-id-1291 {
    div#ct_column_7_post_12 {
        margin-right: $col-vw / 8;

        @include breakpoint($tablet-break) {
            margin-right: 0;
            padding-left: 0;
        }


        @include breakpoint($mobile-break) {
            margin-bottom: 1rem;
        }
    }
}
