/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: News Letter Signups

******************************************************************/

.lb-row-newsletter {
    // padding: ($col-vw / 2) 0;
    background-color: $color1;

    // @include breakpoint($tablet-break) {
    //     padding: $col-vw 0;
    //     padding-bottom: ($col-vw * 1.5);
    // }


    // @include breakpoint($mobile-break) {
    //     // padding: ($col-vw * 1.5) 0;
    //     padding: $col-vw 0;
    // }
    
            padding: 100px 0;
    
        @include breakpoint($tablet-break) {
        padding: calc(100px / 1.5) 0 calc(100px / 1.5 + 60px);
    }


    @include breakpoint($mobile-break) {
        padding: calc(100px / 2) 0;
    }


    .ct-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        .ct-text-block {
            width: 295px;
            font-size: 1.5rem !important;
            font-weight: 600 !important;
            margin-right: 2rem;

            @include breakpoint($mobile-break) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 0.4rem;
            }
        }

        .ct-shortcode {
            width: calc(100% - 295px - 2rem);

            @include breakpoint($mobile-break) {
                width: 100%;
            }


            .gform_wrapper {
                margin: 0;

                #gform_6 {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    align-items: center;

                    .gform_body {
                        width: calc(100% - 105px - 3rem);

                        @include breakpoint($tablet-break) {
                            width: 100%;
                            text-align: center;
                        }


                        li {
                            margin-top: 0 !important;
                            
                            @include breakpoint($tablet-break) {
                                padding-right: 0;
                            }

                            label {
                                display: none !important;
                            }

                            input {
                                width: 100%;
                                border-bottom: none !important;
                                padding: 12px !important;
                                margin-top: 0 !important;


                                @include breakpoint(600px) {
                                    padding: 8px !important;
                                }
                            }
                        }
                    }

                    .gform_footer {
                        width: 105px;
                        margin-top: 0 !important;
                        
                        @include breakpoint($tablet-break) {
                            position: absolute;
                            right: 0;
                            top: 4rem;
                        }

                        @include breakpoint($mobile-break) {
                            position: initial;
                            width: 100%;
                            margin-top: 1rem !important;
                        }


                        .button {
                            &:before,
                            &:after {
                                background-color: $color2 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.lb-hero-newsletter {
    position: absolute;
    left: $col-vw;
    bottom: $col-vw / 2;
    display: none;

    @include breakpoint($tablet-break) {
        left: $col-vw / 2;
    }


    &.active {
        display: block;
        animation: lb-tabs-fade-in 1.15s;
        animation-fill-mode: forwards;
        animation-delay: 1s;

        @include breakpoint($mobile-break) {
            display: none;
        }


        @at-root {
            @keyframes lb-tabs-fade-in {
                from {
                    transform: translateY(15px);
                    opacity: 0;
                }

                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
}