/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Quote Row Styles

******************************************************************/
#ct_div_block_100012_post_22 {
    position: relative;

    .lb-page-transition {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 999;
        transform: translateY(-100%);
        transition: 0.75s cubic-bezier(0.44, 0.01, 0.25, 0.98);
    }

    &.is-exiting {
        .lb-page-transition {
            transform: translateY(0);
        }
    }
}