/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Evolution Row Styles

******************************************************************/

.lb-row-participate {
    // padding: $col-vw 0;
    padding: 100px 0;
    background-color: $white;
    
    @include breakpoint ($tablet-break) {
        padding: $col-vw 0;
    }

    .lb-links {
        .ct-column {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            a {
                font-size: 0.9em;
                font-family: $primary, $sans-serif;
                color: $color-p;
                font-weight: 600 !important;
                margin-bottom: $col-vw;
                position: relative;
                overflow: hidden;
                display: inline-block;
                padding-bottom: 3px;
                width: auto !important;
                transition: $transition-slow;

                @include breakpoint(600px) {
                    flex-basis: 30%;
                }

                @include breakpoint(359px) {
                    font-size: 0.8em;
                }


                &:before {
                    content: '';
                    width: 30%;
                    height: 2px;
                    background-color: $color-p;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(-100%);
                    transition: $transition-slow;
                }

                &:hover,
                &.active {
                    &:before {
                        background-color: $color1;
                        transform: translateX(0);
                    }
                } // @include breakpoint($mobile-break) {
                //     width: 30% !important;
                // }
                // @include breakpoint(320px) {
                //     width: 100% !important;
                // }
            }
        }
    }

    .lb-tab-body {
        display: none;

        &.active {
            display: block;
            animation: lb-tabs-fade-in 0.85s;
            animation-fill-mode: forwards;

            @at-root {
                @keyframes lb-tabs-fade-in {
                    from {
                        transform: translateY(15px);
                        opacity: 0;
                    }

                    to {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .lb-info {
        .ct-code-block {
            margin-top: $col-vw / 4;
        }

        .ct-columns-inner-wrap {
            justify-content: space-between;

            .ct-column {
                width: ($col * 6) !important;

                @include breakpoint($mobile-break) {
                    width: 100% !important;
                }


                &:first-child {
                    padding-right: $col-vw * 0.55;
                    margin: 0 !important;

                    @include breakpoint($tablet-break) {
                        padding-left: 0;
                    }


                    @include breakpoint($mobile-break) {
                        padding: 0;
                        padding-bottom: 1rem;
                    }
                }

                &:last-child {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    padding-top: 0.5vw !important;
                }
            }
        }

        .ct-headline {
            
            @include breakpoint($mobile-break) {
                padding-bottom: $col-vw;
            }
            
            &::before {
                content: '';
                width: $col-vw / 2;
                height: $border-width;
                position: absolute;
                top: 0.475em;
                left: -$col-vw;
                background-color: $color1;
        
                @include breakpoint($tablet-break) {
                    display: none;
                }
            }

            @include breakpoint($mobile-break) {
                width: 275px;
            }
        }
    }

    &.dark {
        background-color: $color2;

        p,
        a,
        h1,
        h2,
        .ct-text-block {
            color: $white !important;
        }

        a {
            &:before {
                background-color: $white !important;
            }

            &:hover,
            &.active {


                &:before {
                    background-color: $color1 !important;
                }
            }
        }
    }
}

.social-buttons-wrap {
    padding-top: 1.5rem;
    margin-left: -5px;
    
    @include breakpoint ($tablet-break) {
        margin-left: $col-vw * 1.5;
    }
    @include breakpoint ($mobile-break) {
        margin-left: 0;
    }
    .social-buttons {
        a {
            &:hover {
                svg {
                    path {
                        fill: $color1;
                    }
                }
            }
            svg {
                width: auto;
                height: 1.12rem;
                opacity: 0.8;

                path {
                    fill: $color2;
                    transition: $transition;
                }
            }
            &:first-child {
                margin-right: 1rem;
            }
            &:last-child {
                height: 1.7rem;
            }
        }
    }
}
