/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Quote Row Styles

******************************************************************/

.lb-row-people {
    // padding: ($col-vw * 1.5) 0;
    position: relative;
    background-position: center;
    background-size: cover;

    // @include breakpoint($mobile-break) {
    //     padding: ($col-vw * 3) 0;
    // }
    
        padding: 100px 0;
    
        @include breakpoint($tablet-break) {
        padding: calc(100px / 1.5) 0;
    }


    @include breakpoint($mobile-break) {
        padding: calc(100px / 2) 0;
    }


    &::before {
        width: 100%;
        height: 100%;
        content: '';
        background-color: $color2;
        opacity: 0.75;
        position: absolute;
        top: 0;
        left: 0;
    }

    .ct-headline {
        width: $col-vw * 5;
        color: $white;
        font-weight: 600 !important;
        @include line-height(54px, 48px, 36px, 26.25px);

        @include breakpoint($mobile-break) {
            width: 100%;
        }
    }
}

.quote-row {
    .ct-section-inner-wrap {
        @include breakpoint($tablet-break) {
            // padding: 0 ($col-vw * 2);
            padding-left: $col-vw * 2;
            padding-right: $col-vw * 1.5;
        }

        @include breakpoint ($mobile-break) {
            padding: 0 $col-vw;
        }

        .ct-headline {
            // font: $h2-real !important;
            max-width: $col-vw * 6;
            position: relative;
            font-weight: 500 !important;
            @include line-height(54px, 48px, 36px, 26.25px);
            
            // @include font-size(47px, 30px, 23px, 20px);

            &::before {
                    content: '\201C';
                    color: $color1;
                    font: $body-font;
                    font-size: 3em !important;
                    position: absolute;
                    left: -3rem;
                    top: -3rem;

                    @include breakpoint ($mobile-break) {
                        left: -1.5rem;
                    }
                }

            @include breakpoint($laptop-break) {
                // max-width: $col-vw * 8;
                max-width: $col-vw * 7;
            }


            @include breakpoint($tablet-break) {
                max-width: 100%;
            }


            @include breakpoint($mobile-break) {
                max-width: 100%;
            }
        }
    }
}