/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: Two text columns styles

******************************************************************/

.lb-info {
    &.left {
        .ct-columns-inner-wrap {
            justify-content: flex-start;
        }
    }

    &.right {
        .ct-columns-inner-wrap {
            justify-content: flex-end;
        }
    }

    .ct-columns-inner-wrap {
        justify-content: flex-end;

        .ct-column {
            width: ($col-vw * 3) !important;
            text-align: left;

            @include breakpoint($tablet-break) {
                width: ($col * 6) !important;
                // padding: 0 1rem;
                padding: 0 $col-vw / 8;
            }


            @include breakpoint($mobile-break) {
                width: ($col * 12) !important;
                // padding: 0 0 1rem;
                padding: 0 0 $col-vw / 8;
            }


            &:first-child {
                // margin-right: $col-vw / 2;
                padding-right: $col-vw / 8;
                margin-right: 0;

                @include breakpoint($tablet-break) {
                    padding-left: 0;
                }


                @include breakpoint($mobile-break) {
                    padding: 0 !important;
                }
            }

            &:last-child {
                padding-left: $col-vw / 8;
                margin-left: 0;
                @include breakpoint($tablet-break) {
                    margin-left: 0;
                    padding-right: 0;
                }
                
                @include breakpoint ($mobile-break) {
                    padding: 0 !important;
                }
            }
        }
    }
}