/******************************************************************

Site Name: Humanity 2.0
Author: Erik Freundorfer

Stylesheet: General Rows and Columns

******************************************************************/

.ct-section {
    @include paddings;
    @include background-colors;

    .ct-section-inner-wrap {
        max-width: 100% !important;
    }
}

.text-col {
    width: 100%;

    .ct-columns-inner-wrap {
        // width: $col-vw * 4.5;
        width: $col-vw * 6;

        // @include breakpoint($laptop-break) {
        //     // width: $col-vw * 5.5;
        //     width: $col-vw * 6;
        // }


        @include breakpoint($tablet-break) {
            width: $col-vw * 7;
        }


        @include breakpoint($mobile-break) {
            width: 100%;
        }


        .ct-column {
            width: 50% !important;

            @include breakpoint($mobile-break) {
                width: 100% !important;
            }


            &:first-child {
                // padding-right: $col-vw / 4;
                padding-right: $col-vw / 8 !important;

                @include breakpoint($mobile-break) {
                    padding-right: 0 !important;
                    margin-bottom: 1.5rem !important;
                }
            }

            &:last-child {
                // padding-left: $col-vw / 4;
                padding-left: $col-vw / 8 !important;

                @include breakpoint($mobile-break) {
                    padding-left: 0 !important;
                }
            }
        }
    }
}