.services {
    display: flex;
    flex-wrap: wrap;

    .service {
        width: 50%;
        display: flex;
        justify-content: space-between;

        &:nth-child(1) {
            order: 1;
            margin-bottom: $col-vw / 2;
            padding-right: $col-vw / 4;

            @include breakpoint($tablet-break) {
                padding: 0;
            }
        }

        &:nth-child(2) {
            order: 3;
            padding-right: $col-vw / 4;

            @include breakpoint($tablet-break) {
                padding: 0;
                order: 2;
            }
        }

        &:nth-child(3) {
            order: 2;
            margin-bottom: $col-vw / 2;
            padding-left: $col-vw / 4;

            @include breakpoint($tablet-break) {
                padding: 0;
                order: 3;
            }
        }

        &:nth-child(4) {
            order: 4;
            padding-left: $col-vw / 4;

            @include breakpoint($tablet-break) {
                padding: 0;
            }
        }

        @include breakpoint($tablet-break) {
            margin-bottom: $col-vw / 2;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }


        @include breakpoint($mobile-break) {
            margin-bottom: $col-vw;

            &:last-child {
                margin-bottom: 0;
            }
        }


        h2 {
            color: $color1;
        }

        h4 {
            margin-bottom: 1.5rem;

            @include breakpoint($mobile-break) {
                margin-bottom: 0;
            }
        }

        .num {
            @include breakpoint($mobile-break) {
                display: none;
            }


            h2 {
                font-weight: 400 !important;
                line-height: 1 !important;
            }
        }

        .info {
            flex-basis: 75%;

            @include breakpoint($tablet-break) {
                flex-basis: 80%;
            }


            @include breakpoint($mobile-break) {
                flex-basis: 100%;
            }
        }

        .title-area {
            display: flex;

            // align-items: center;

            @include breakpoint($mobile-break) {
                margin-bottom: 1rem;
                align-items: center;
            }


            h2 {
                display: none;
                font-weight: 400 !important;
                line-height: 1 !important;
                margin-right: 1.5rem;

                @include breakpoint($mobile-break) {
                    display: block;
                }
            }
        }
    }
}