.tabs {
    display: flex;

    * {
        min-height: 0;
        min-width: 0;
    }

    @include breakpoint($mobile-break) {
        flex-wrap: wrap;
    }


    .tab-nav {
        width: $col-vw;

        @include breakpoint($mobile-break) {
            width: 100%;
        }


        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            @include breakpoint($mobile-break) {
                flex-direction: row;
                white-space: nowrap;
                overflow: auto;
            }


            li {
                margin-bottom: 1rem;
                list-style: none;

                @include breakpoint($mobile-break) {
                    margin-right: calc(#{$col-vw} + 2rem);
                }


                a {
                    color: transparentize($white, 0.5);
                    position: relative;
                    // font-weight: 800 !important;
                    font-weight: 600 !important;
                    transition: $transition;

                    &::before {
                        content: '';
                        width: $col-vw / 4;
                        height: 4px;
                        background: $color1;
                        position: absolute;
                        right: calc(-#{$col-vw / 4} - 1.25rem);
                        top: 50%;
                        transform-origin: left;
                        transform: translateY(-50%) scaleX(0);
                        transition: $transition;
                    }

                    &:hover,
                    &:focus {
                        color: $white;
                    }

                    &.active {
                        color: $white;

                        &::before {
                            transform: translateY(-50%) scaleX(1);
                        }
                    }
                }
            }
        }
    }

    .tab-bodies {
        width: calc(100% - #{$col-vw});
        padding-left: $col-vw / 2;

        @include breakpoint($mobile-break) {
            margin-top: $col-vw;
            padding-left: 0;
        }


        .tab-body {
            .tab-body-inner {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }

            &.ready {
                display: none;
            }

            &.active {
                display: block;
                animation: lb-fade-in 0.5s;
                animation-fill-mode: forwards;

                @at-root {
                    @keyframes lb-fade-in {
                        from {
                            transform: translateY(1rem);
                            opacity: 0;
                        }

                        to {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }

                .information {
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    .slick-track {
                        width: 100% !important;

                        .info {
                            list-style: none;
                            outline: none !important;
                            height: 0;
                            width: 53vw;

                            @include breakpoint($tablet-break) {
                                width: 71vw;
                            }


                            &.slick-current {
                                height: 105px;
                            }

                            .info-inner {
                                .title {
                                    text-align: right;

                                    h3 {
                                        @include breakpoint($tablet-break) {
                                            font-size: 1.438rem !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .timeline {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    width: $col-vw * 5;
                    margin-top: $col-vw * 0.75;

                    @include breakpoint($tablet-break) {
                        width: $col-vw * 7;
                    }


                    @include breakpoint($mobile-break) {
                        width: $col-vw * 8;
                        margin-top: $col-vw * 1.75;
                    }


                    &::before {
                        content: '';
                        width: calc(100% - 2rem);
                        height: 4px;
                        background: $color1;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 3;
                    }

                    &::after {
                        content: '';
                        width: $col-vw * 2.25;
                        height: 4px;
                        background: $color1;
                        position: absolute;
                        top: 0;
                        right: -$col-vw * 2;
                        z-index: 3;
                    }

                    .slick-list {
                        overflow: visible !important;
                        z-index: 5;

                        .slick-track {
                            width: 100% !important;
                        }

                        li {
                            width: $col-vw !important;
                            position: relative;
                            top: -1rem;
                            margin-top: -1rem;
                            cursor: pointer;
                            outline: none !important;
                            z-index: 5;

                            @include breakpoint($tablet-break) {
                                width: auto !important;
                                margin-right: 3rem;
                            }


                            @include breakpoint($mobile-break) {
                                margin-right: 2rem;
                            }


                            &::before {
                                content: '';
                                width: $col-vw;
                                height: 4px;
                                background: $color1;
                                position: absolute;
                                top: 2rem;
                                left: 1.45rem;
                                z-index: 3;
                            }

                            &.slick-current {
                                h5 {
                                    &::after {
                                        background: $color1;
                                    }
                                }
                            }

                            h5 {
                                display: inline-block;
                                position: relative;
                                top: -1rem;
                                z-index: 4;

                                &::after {
                                    content: '';
                                    width: 1rem;
                                    height: 1rem;
                                    border: 3px solid $color1;
                                    border-radius: 100%;
                                    background: $black;
                                    position: absolute;
                                    bottom: calc(-2rem - 2px);
                                    left: 50%;
                                    transform: translateX(-50%);
                                    transition: $transition;
                                    z-index: 6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}