.videos-section,
.photos-section,
.photo-section {
    overflow: hidden;
}

.videos-section,
.photos-section {
    // padding: $col-vw 0;
    // background-color: $white;

    .ct-section-inner-wrap {
        padding: 0 $col-vw * 2;
        
        @include breakpoint($tablet-break) {
            padding: 0 $col-vw;
        }

        @include breakpoint($mobile-break) {
            padding: 0;
        }


        .videos-inner-wrap,
        .photos-inner-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            .video,
            .photo {
                position: relative;
                transition: $transition;
                background-size: cover !important;
                background-position: center !important;

                &:hover {
                    transform: scale(1.02);
                }

               
            }
        }
    }

    .external-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: ($col-vw / 3) 0 0 auto;

        @include breakpoint($mobile-break) {
            // display: none;
            margin-right: $col-vw !important;
        }


        img {
            width: 70px;
            height: auto;
            padding-right: 1rem;
            
            @include breakpoint ($mobile-break) {
                width: 40px !important;
            }
        }
    }
}

.videos-section {
    .video {
        height: auto !important;
        position: relative;
    }
    
    .video-content-wrap {
        position: relative;
        height: 0 !important;
        width: 100%;
        padding-bottom: 62.5%;
        top: 0;
        left: 0;
        
        .play-button-wrap {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .videos-inner-wrap {
        .slick-list {
            margin: 0 -1.2rem;
        }
        
        .slick-slide {
            
            .play-button-wrap {
                svg {
                    // visibility: hidden;
                    opacity: 0;
                    transition: $transition;
                }
            }

            &.slick-current {
                .play-button-wrap {
                    svg {
                        opacity: 1;
                    }
                }
            }
        }
        
        

        .video-content-wrap {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            background-size: cover !important;

            &:hover {
                .play-button-wrap {
                    svg {
                        path {
                            &.b {
                                fill: $color2 !important;
                            }
                        }
                    }
                }
            }

            .video-text-wrap {
                flex-basis: 85%;
                margin: 0 0 3% 3%;

                h4 {
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 1.125rem !important;
                    font-weight: 800 !important;
                }

                .video-subtitle {
                    color: #fff;
                    font-weight: 400;
                    line-height: 1.2rem !important;
                }
            }

            .play-button-wrap {
                // flex-basis: 10%;
                display: flex;
                align-self: flex-end;
                height: 52px;

                @include breakpoint($mobile-break) {
                    height: 37px;
                }


                svg {
                    height: inherit;
                    width: auto;

                    rect.a {
                        fill: #ebbab9;
                        stroke: none;
                    }

                    path.b {
                        transition: $transition;
                    }
                }
            }
        }
    }
}

.photos-section {
    .ct-section-inner-wrap {
        @include breakpoint($mobile-break) {
            padding: 0 $col-vw;
        }
    }
    
    .photos-inner-wrap {
        margin: -1.2rem;
    }
    .photo {
        background-size: cover;
        margin: 1.2rem;
        width: calc(33.333% - 2.4rem);
        position: relative;
        transition: $transition;
        background-size: cover !important;
        background-position: center !important;
        
         @include breakpoint($tablet-break) {
            width: calc(50% - 2.4rem);
        }


        @include breakpoint($mobile-break) {
            width: calc(100% - 2.4rem);
        }
        
        &::before {
            content: '';
            width: 100%;
            height: 0;
            padding-bottom: 62.5%;
            display: block;
        }
    }
}


.slick-arrow {
    position: absolute;
    display: block;
    height: 25px;
    width: 15px;
    top: 36%;
    z-index: 0;
    
    @include breakpoint($laptop-break) {
        top: 32%;
    }
    
    @include breakpoint($tablet-break) {
        z-index: 1;
    }
    
    @include breakpoint($mobile-break) {
        padding: 5px;
        height: 25px;
        width: 25px;
        background-color: rgba(255,255,255,0.9);
    }

    &.prev-arrow {
        left: -1rem;
        transform: translate(-100%, -50%);
        cursor: pointer;
        
        @include breakpoint($mobile-break) {
            left: 0.25rem;
            transform: translate(0, -50%);
        }

    }

    &.next-arrow {
        right: -1rem;
        transform: translate(100%, -50%);
        cursor: pointer;
        
        @include breakpoint($mobile-break) {
            right: 0.25rem;
            transform: translate(0, -50%);
        }
    }
}

.panelists-items-wrapper {
    .slick-arrow {
        @include breakpoint($mobile-break) {
            background-color: transparent;
        }
        
        &.prev-arrow {
            @include breakpoint($tablet-break) {
                left: $col-vw;
            }
            
            @include breakpoint($mobile-break) {
                left: $col-vw * 2;
            }
        }

        &.next-arrow {
            @include breakpoint($tablet-break) {
                right: $col-vw;
            }
            
            @include breakpoint($mobile-break) {
                right: $col-vw * 2;
            }
        }
    }
}

// Undoing some crazy Oxygen stuff
@media screen and (max-width: 600px) {
    .photos-section h2#ct_headline_15_post_399 {
        margin-left: 0 !important;
    }
    .photos-section .ct-section-inner-wrap .photos-inner-wrap {
        margin: -1.2rem -1.2rem 0 !important;
    }
    
    .photos-section .external-link {
        margin-right: 0 !important;
        padding-bottom: 5px;
    }
}